<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>我爱我家装修公司</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../../Path/image/newlogo.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="http://cdn.bootstrapmb.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="../../Path/admin/css/font-awesome.min.css">

    <!-- Feathericon CSS -->
    <link rel="stylesheet" href="../../Path/admin/css/feathericon.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="../../Path/admin/css/style.css">

    <!-- Select2 CSS -->
    <link rel="stylesheet" href="../../Path/admin/css/select2.min.css">

    <!--[if lt IE 9]>
    <script src="../../Path/admin/js/html5shiv.min.js"></script>
    <script src="../../Path/admin/js/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="../../Path/admin/css/jquery.multiselect.css"/>
</head>
<body>

<!-- Main Wrapper -->
<div class="main-wrapper">

    <!-- Header -->
    <div class="header">

        <!-- Logo -->
        <div class="header-left">
            <a href="index.html" class="logo">
                <img src="../../Path/image/newlogo.png" alt="Logo">
            </a>
            <a href="index.html" class="logo logo-small">
                <img src="../../Path/image/newlogo.png" alt="Logo" width="30" height="30">
            </a>
        </div>
        <!-- /Logo -->

        <a href="javascript:void(0);" id="toggle_btn">
            <i class="fe fe-text-align-left"></i>
        </a>

        <!-- Mobile Menu Toggle -->
        <a class="mobile_btn" id="mobile_btn">
            <i class="fa fa-bars"></i>
        </a>
        <!-- /Mobile Menu Toggle -->

        <!-- Header Right Menu -->
        <ul class="nav user-menu">

            <!-- User Menu -->
            <li class="nav-item dropdown has-arrow">
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                    <span class="user-img"><img class="rounded-circle" src="../../Path/admin/img/profiles/admin.png"
                                                width="31" alt="管理员"></span>
                </a>
                <div class="dropdown-menu">
                    <div class="user-header">
                        <div class="avatar avatar-sm">
                            <img src="../../Path/admin/img/profiles/admin.png" alt="User Image"
                                 class="avatar-img rounded-circle">
                        </div>
                        <div class="user-text">
                            <h6 th:text="${#request.getSession().getAttribute('name')}"></h6>
                            <p class="text-muted mb-0">超级管理员</p>
                        </div>
                    </div>
                    <a class="dropdown-item" th:href="@{/index}">游客界面</a>
                </div>
            </li>
            <!-- /User Menu -->

        </ul>
        <!-- /Header Right Menu -->

    </div>
    <!-- /Header -->
    <!-- Sidebar -->
    <div class="sidebar" id="sidebar">
        <div class="sidebar-inner slimscroll">
            <div id="sidebar-menu" class="sidebar-menu">
                <ul>
                    <li class="menu-title">
                        <span>Main</span>
                    </li>
                    <li>
                        <a th:href="@{/admin/index}"><i class="fe fe-home"></i> <span>首页</span></a>
                    </li>
                    <li class="active">
                        <a th:href="@{/admin/designerList}"><i class="fe fe-user"></i> <span>设计师列表</span></a>
                    </li>
                    <li>
                        <a th:href="@{/admin/workerList}"><i class="fe fe-users"></i> <span>工人列表</span></a>
                    </li>
                    <li>
                        <a th:href="@{/admin/userList}"><i class="fe fe-user-plus"></i> <span>用户列表</span></a>
                    </li>
                    <li>
                        <a th:href="@{/admin/setOrderList}"><i class="fe fe-activity"></i> <span>活动预约列表</span></a>
                    </li>
                    <li>
                        <a th:href="@{/admin/bookList}"><i class="fe fe-table"></i> <span>在线预约列表</span></a>
                    </li>
                    <li>
                        <a th:href="@{/admin/appointmentList}"><i class="fe fe-document"></i> <span>设计师预约列表</span></a>
                    </li>
                    <li class="submenu">
                        <a href="javascript:void(0);"><i class="fe fe-code"></i> <span>索引</span> <span class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <li class="submenu">
                                <a href="javascript:void(0);"> <span>案例索引</span> <span class="menu-arrow"></span></a>
                                <ul style="display: none;">
                                    <li><a th:href="@{/admin/indexList/styleindex}"><span>风格</span></a></li>
                                    <li><a th:href="@{/admin/indexList/housearea}"> <span>面积</span></a></li>
                                    <li><a th:href="@{/admin/indexList/housetype}"> <span>装修类型</span></a></li>
                                    <li><a th:href="@{/admin/indexList/houseform}"> <span>装修类别</span></a></li>
                                </ul>
                            </li>
                            <li class="submenu">
                                <a href="javascript:void(0);"> <span>设计师索引</span> <span class="menu-arrow"></span></a>
                                <ul style="display: none;">
                                    <li><a th:href="@{/admin/indexList/styleindex}"><span>风格</span></a></li>
                                    <li><a th:href="@{/admin/indexList/designerlevel}"> <span>等级</span></a></li>
                                </ul>
                            </li>
                            <li class="submenu">
                                <a href="javascript:void(0);"> <span>施工团队索引</span> <span class="menu-arrow"></span></a>
                                <ul style="display: none;">
                                    <li><a th:href="@{/admin/indexList/workertype}"><span>工种</span></a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Sidebar -->

    <!-- Page Wrapper -->
    <div class="page-wrapper">
        <div class="content container-fluid">

            <!-- Page Header -->
            <div class="page-header">
                <div class="row">
                    <div class="col">
                        <h3 class="page-title">设计师</h3>
                    </div>
                </div>
            </div>
            <!-- /Page Header -->

            <div class="row">
                <div class="col-md-12">
                    <div class="profile-header">
                        <div class="row align-items-center">
                            <div class="col-auto profile-image">
                                <a href="#">
                                    <img class="rounded-circle" alt="User Image" th:src="${designer.pic}">
                                </a>
                            </div>
                            <div class="col ml-md-n2 profile-user-info">
                                <h4 class="user-name mb-0" th:text="${designer.name}"></h4>
                                <h6 class="text-muted" th:text="${designer.tel}"></h6>
                                <h6 class="text-muted" th:text="${designer.email}"></h6>
                                <div class="user-Location"><i class="fa fa-map-marker"></i><span
                                        th:text="${designer.city}"></span></div>
                            </div>
                            <div class="col-auto profile-btn">
                                <a class="btn btn-primary" data-toggle="modal" href="#edit_personal_details_1">
                                    编辑
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="profile-menu">
                        <ul class="nav nav-tabs nav-tabs-solid">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#per_details_tab">详情</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content profile-tab-cont">

                        <!-- Personal Details Tab -->
                        <div class="tab-pane fade show active" id="per_details_tab">

                            <!-- Personal Details -->
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title d-flex justify-content-between">
                                                <span>个人信息</span>
                                                <a class="edit-link" data-toggle="modal"
                                                   href="#edit_personal_details"><i class="fa fa-edit mr-1"></i>编辑</a>
                                            </h5>
                                            <div class="row">
                                                <p class="col-sm-2 text-muted text-sm-right mb-0 mb-sm-3">用户ID</p>
                                                <p class="col-sm-10" th:text="${designer.userId}"></p>
                                            </div>
                                            <div class="row">
                                                <p class="col-sm-2 text-muted text-sm-right mb-0 mb-sm-3">设计师ID</p>
                                                <p class="col-sm-10" th:text="${designer.id}"></p>
                                            </div>
                                            <div class="row">
                                                <p class="col-sm-2 text-muted text-sm-right mb-0 mb-sm-3">性别</p>
                                                <p class="col-sm-10" th:text="${designer.gender}"></p>
                                            </div>
                                            <div class="row">
                                                <p class="col-sm-2 text-muted text-sm-right mb-0 mb-sm-3">工龄</p>
                                                <p class="col-sm-10" th:text="${designer.workingAge}"></p>
                                            </div>
                                            <div class="row">
                                                <p class="col-sm-2 text-muted text-sm-right mb-0 mb-sm-3">等级</p>
                                                <p class="col-sm-10" th:text="${designer.level}"></p>
                                            </div>
                                            <div class="row">
                                                <p class="col-sm-2 text-muted text-sm-right mb-0">风格</p>
                                                <p class="col-sm-10" th:text="${designer.style}"></p>
                                            </div>
                                            <div class="row">
                                                <p class="col-sm-2 text-muted text-sm-right mb-0">代表作</p>
                                                <p class="col-sm-10" th:text="${designer.represent}"></p>
                                            </div>
                                            <div class="row">
                                                <p class="col-sm-2 text-muted text-sm-right mb-0">宣言</p>
                                                <p class="col-sm-10 mb-0" th:text="${designer.form}"></p>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Edit Details Modal -->
                                    <div class="modal fade" id="edit_personal_details_1" aria-hidden="true"
                                         role="dialog">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">设计师个人信息</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <form th:action="@{../modifyDesigner1}" method="post" enctype="multipart/form-data">
                                                        <div class="row form-row">
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <label>姓名</label>
                                                                    <input name="name" type="text" class="form-control"
                                                                           th:value="${designer.name}">
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <label>照片</label>
                                                                    <input name="filePic" type="file" class="form-control">
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <label>电话</label>
                                                                    <input name="tel" type="text" class="form-control"
                                                                           th:value="${designer.tel}">
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <label>邮箱</label>
                                                                    <input name="email" type="text" class="form-control"
                                                                           th:value="${designer.email}">
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-sm-6">
                                                                <div class="form-group">
                                                                    <label>所在省份</label>
                                                                    <select class="form-control" id="province" name="province" onChange="changeProvince(this)">
                                                                        <option>请选择省份</option>
                                                                        <option th:each="province : ${provinces}" th:text="${province.district_name}" th:value="${province.id}" th:selected="${province.id} == ${provinceNow.id}"></option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-sm-6">
                                                                <div class="form-group">
                                                                    <label>所在城市</label>
                                                                    <select class="form-control" id="location" name="location">
                                                                        <option>请选择城市</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <input id="location_hidden" th:value="${designer.location}" type="hidden">
                                                            <input name="id" type="hidden" class="hidden"
                                                                   th:value="${designer.id}">
                                                            <input name="pic" type="hidden" class="hidden"
                                                                   th:value="${designer.pic}">
                                                        </div>
                                                        <button type="submit" class="btn btn-primary btn-block col-12">
                                                            保存
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /Edit Details Modal -->

                                    <!-- Edit Details Modal -->
                                    <div class="modal fade" id="edit_personal_details" aria-hidden="true" role="dialog">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">个人信息</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <form th:action="@{../modifyDesigner2}" method="post">
                                                        <div class="row form-row">
                                                            <div class="col-12 col-sm-6">
                                                                <div class="form-group">
                                                                    <label>用户ID</label>
                                                                    <input type="text" class="form-control"
                                                                           th:value="${designer.userId}">
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-sm-6">
                                                                <div class="form-group">
                                                                    <label>设计师ID</label>
                                                                    <input name="id" type="text" class="form-control"
                                                                           th:value="${designer.id}" readonly>
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <label>工龄</label>
                                                                    <input name="workingAge" type="text"
                                                                           class="form-control"
                                                                           th:value="${designer.workingAge}">
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <label>等级</label>
                                                                    <select class="form-control" name="levelValue">
                                                                        <option th:each="level : ${designerLevel}"
                                                                                th:text="${level.name}"
                                                                                th:value="${level.id}"
                                                                                th:selected="${designer.levelValue} == ${level.id}">
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <label>风格</label>
                                                                    <select class="form-control" id="styleValue"
                                                                            multiple="multiple" style="width: 100%">
                                                                        <option name="styleOpt"
                                                                                th:each="style : ${designerStyle}"
                                                                                th:text="${style.name}"
                                                                                th:value="${style.id}"
                                                                                th:data_id="${style.id}">
                                                                    </select>
                                                                    <input type="hidden" id="designerStyle"
                                                                           name="styleValue">
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <label>代表作</label>
                                                                    <input name="represent" type="text"
                                                                           class="form-control"
                                                                           th:value="${designer.represent}">
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <label>宣言</label>
                                                                    <input name="form" type="text" class="form-control"
                                                                           th:value="${designer.form}">
                                                                </div>
                                                            </div>
                                                            <!--																	<div class="col-12">-->
                                                            <!--																		<h5 class="form-title"><span>Address</span></h5>-->
                                                            <!--																	</div>-->
                                                        </div>
                                                        <button type="submit" class="btn btn-primary btn-block"
                                                                onclick="test()">保存
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /Edit Details Modal -->

                                </div>


                            </div>
                            <!-- /Personal Details -->

                        </div>
                        <!-- /Personal Details Tab -->

                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- /Page Wrapper -->

</div>
<!-- /Main Wrapper -->

<!-- jQuery -->
<script src="../../Path/admin/js/jquery-3.2.1.min.js"></script>

<!-- Bootstrap Core JS -->
<script src="../../Path/admin/js/popper.min.js"></script>
<script src="http://cdn.bootstrapmb.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- Slimscroll JS -->
<script src="../../Path/admin/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Custom JS -->
<script src="../../Path/admin/js/script.js"></script>

<!-- Select2 JS -->
<script src="../../Path/admin/js/select2.min.js"></script>

<script src="http://cdn.bootcss.com/jqueryui/1.11.0/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../Path/admin/js/jquery.multiselect.js"></script>

<script type="text/javascript">
    let styleList = [[${styleList}]];
    $(function () {
        $("#styleValue").multiselect({
            checkAllText: "全选",
            uncheckAllText: "全不选",
            selectedList: 8
        });
        ifSelected();
    });

    //加载默认选项
    function ifSelected() {
        var opt = document.getElementsByName("multiselect_styleValue");
        for (var i = 0; i < opt.length; i++) {
            if (styleList.indexOf(parseInt(opt[i].value)) >= 0) {
                // 模拟点击元素，在加载时选择
                opt[i].click();
            }
        }
    }

    function test() {
        var styleText = "";
        var style = document.getElementsByName("multiselect_styleValue");
        for (var i = 0; i < style.length; i++) {
            if (style[i].getAttribute("aria-selected") == "true") {
                styleText += style[i].value + ",";
            }
            // console.log(style[i].value);
        }
        styleText = styleText.substring(0, styleText.length - 1);
        var formText = document.getElementById("designerStyle");
        formText.value = styleText;
    }
    var cityNowId = document.getElementById("location_hidden").value;
    $(function () {
        var provinceNow = document.getElementById("province");
        changeProvince(provinceNow);
    });
    function changeProvince(now){
        $.ajax({
            url: "/queryCity/"+now.options[now.options.selectedIndex].value,
            type: "post",
            dataType: "json",
            success: function(data){
                /*这个方法里是ajax发送请求成功之后执行的代码*/
                var province = now;
                var city = document.getElementById("location");
                var opt = now.options.selectedIndex;
                var j = 0;
                var length=city.options.length;
                /**
                 * 清空原选择框中选项
                 */
                for(i=0;i<length;i++){
                    city.removeChild(city.options[0]);
                }
                /**
                 * 添加新选项
                 */
                for (i=0;i<data.length;i++) {
                    // console.log(data[i].district_name);
                    city.options[j++] = new Option(data[i].district_name, data[i].id);
                    if (data[i].id == cityNowId){
                        city.options[j-1].selected = true;
                    }
                }
            },
            error: function(msg){
                alert("ajax连接异常："+msg);
            }
        });
    };
</script>
</body>
<style>
    .ui-widget-content {
        border: 1px solid #ddd;
        background: white;
        color: #333;
    }

    .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
        border: 1px solid #a4ecfc;
        background: white;
        color: #333;
        font-size: 15px;
        height: 40px;
        border-radius: 7px;
        padding: 0.375rem 0.75rem;
    }

    ul {
        list-style-type: none;
    }

    .ui-multiselect {
        border: 1px solid #ddd;
        box-shadow: none;
        color: #333;
        font-size: 15px;
        height: 40px;
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-weight: 400;
        line-height: 1.5;
        background-color: #fff;
        background-clip: padding-box;
        border-radius: 0.25rem;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }
</style>
</html>
