<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
    <head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>我爱我家装修公司</title>
		<!-- Favicon -->
		<link rel="shortcut icon" type="image/x-icon" href="../Path/image/newlogo.png">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="http://cdn.bootstrapmb.com/bootstrap/4.3.1/css/bootstrap.min.css">

		<!-- Fontawesome CSS -->
		<link rel="stylesheet" href="../Path/admin/css/font-awesome.min.css">

		<!-- Feathericon CSS -->
		<link rel="stylesheet" href="../Path/admin/css/feathericon.min.css">

		<link rel="stylesheet" href="../Path/admin/plugins/morris/morris.css">

		<!-- Main CSS -->
		<link rel="stylesheet" href="../Path/admin/css/style.css">

		<!--[if lt IE 9]>
		<script src="../Path/admin/js/html5shiv.min.js"></script>
		<script src="../Path/admin/js/respond.min.js"></script>
		<![endif]-->
	</head>
    <body>

		<!-- Main Wrapper -->
        <div class="main-wrapper">

			<!-- Header -->
            <div class="header">

				<!-- Logo -->
                <div class="header-left">
                    <a href="index.html" class="logo">
						<img src="../Path/image/newlogo.png" alt="Logo">
					</a>
					<a href="index.html" class="logo logo-small">
						<img src="../Path/image/newlogo.png" alt="Logo" width="30" height="30">
					</a>
                </div>
				<!-- /Logo -->

				<a href="javascript:void(0);" id="toggle_btn">
					<i class="fe fe-text-align-left"></i>
				</a>

				<div class="top-nav-search">
					<form>
						<input type="text" class="form-control" placeholder="Search here">
						<button class="btn" type="submit"><i class="fa fa-search"></i></button>
					</form>
				</div>

				<!-- Mobile Menu Toggle -->
				<a class="mobile_btn" id="mobile_btn">
					<i class="fa fa-bars"></i>
				</a>
				<!-- /Mobile Menu Toggle -->

				<!-- Header Right Menu -->
				<ul class="nav user-menu">

					<!-- Notifications -->
					<li class="nav-item dropdown noti-dropdown">
						<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
							<i class="fe fe-bell"></i> <span class="badge badge-pill">3</span>
						</a>
						<div class="dropdown-menu notifications">
							<div class="topnav-dropdown-header">
								<span class="notification-title">Notifications</span>
								<a href="javascript:void(0)" class="clear-noti"> Clear All </a>
							</div>
							<div class="noti-content">
								<ul class="notification-list">
									<li class="notification-message">
										<a href="#">
											<div class="media">
												<span class="avatar avatar-sm">
													<img class="avatar-img rounded-circle" alt="User Image" src="../Path/admin/img/doctors/doctor-thumb-01.jpg">
												</span>
												<div class="media-body">
													<p class="noti-details"><span class="noti-title">Dr. Ruby Perrin</span> Schedule <span class="noti-title">her appointment</span></p>
													<p class="noti-time"><span class="notification-time">4 mins ago</span></p>
												</div>
											</div>
										</a>
									</li>
									<li class="notification-message">
										<a href="#">
											<div class="media">
												<span class="avatar avatar-sm">
													<img class="avatar-img rounded-circle" alt="User Image" src="../Path/admin/img/patients/patient1.jpg">
												</span>
												<div class="media-body">
													<p class="noti-details"><span class="noti-title">Charlene Reed</span> has booked her appointment to <span class="noti-title">Dr. Ruby Perrin</span></p>
													<p class="noti-time"><span class="notification-time">6 mins ago</span></p>
												</div>
											</div>
										</a>
									</li>
									<li class="notification-message">
										<a href="#">
											<div class="media">
												<span class="avatar avatar-sm">
													<img class="avatar-img rounded-circle" alt="User Image" src="../Path/admin/img/patients/patient2.jpg">
												</span>
												<div class="media-body">
												<p class="noti-details"><span class="noti-title">Travis Trimble</span> sent a amount of $210 for his <span class="noti-title">appointment</span></p>
												<p class="noti-time"><span class="notification-time">8 mins ago</span></p>
												</div>
											</div>
										</a>
									</li>
									<li class="notification-message">
										<a href="#">
											<div class="media">
												<span class="avatar avatar-sm">
													<img class="avatar-img rounded-circle" alt="User Image" src="../Path/admin/img/patients/patient3.jpg">
												</span>
												<div class="media-body">
													<p class="noti-details"><span class="noti-title">Carl Kelly</span> send a message <span class="noti-title"> to his doctor</span></p>
													<p class="noti-time"><span class="notification-time">12 mins ago</span></p>
												</div>
											</div>
										</a>
									</li>
								</ul>
							</div>
							<div class="topnav-dropdown-footer">
								<a href="#">View all Notifications</a>
							</div>
						</div>
					</li>
					<!-- /Notifications -->

					<!-- User Menu -->
					<li class="nav-item dropdown has-arrow">
						<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
							<span class="user-img"><img class="rounded-circle" src="../Path/admin/img/profiles/avatar-01.jpg" width="31" alt="Ryan Taylor"></span>
						</a>
						<div class="dropdown-menu">
							<div class="user-header">
								<div class="avatar avatar-sm">
									<img src="../Path/admin/img/profiles/avatar-01.jpg" alt="User Image" class="avatar-img rounded-circle">
								</div>
								<div class="user-text">
									<h6>Ryan Taylor</h6>
									<p class="text-muted mb-0">Administrator</p>
								</div>
							</div>
							<a class="dropdown-item" href="profile.html">My Profile</a>
							<a class="dropdown-item" href="settings.html">Settings</a>
							<a class="dropdown-item" href="login.html">Logout</a>
						</div>
					</li>
					<!-- /User Menu -->

				</ul>
				<!-- /Header Right Menu -->

            </div>
			<!-- /Header -->

			<!-- Sidebar -->
            <div class="sidebar" id="sidebar">
                <div class="sidebar-inner slimscroll">
					<div id="sidebar-menu" class="sidebar-menu">
						<ul>
							<li class="menu-title">
								<span>Main</span>
							</li>
							<li class="active">
								<a th:href="@{/admin/index}"><i class="fe fe-home"></i> <span>首页</span></a>
							</li>
							<li>
								<a th:href="@{/admin/designerList}"><i class="fe fe-layout"></i> <span>设计师列表</span></a>
							</li>
							<li>
								<a th:href="@{/admin/workerList}"><i class="fe fe-users"></i> <span>工人列表</span></a>
							</li>
							<li>
								<a th:href="@{/admin/appointmentList}"><i class="fe fe-user-plus"></i> <span>预约列表</span></a>
							</li>
							<li>
								<a href="patient-list.html"><i class="fe fe-user"></i> <span>Patients</span></a>
							</li>
							<li>
								<a href="reviews.html"><i class="fe fe-star-o"></i> <span>Reviews</span></a>
							</li>
							<li>
								<a href="transactions-list.html"><i class="fe fe-activity"></i> <span>Transactions</span></a>
							</li>
							<li>
								<a href="settings.html"><i class="fe fe-vector"></i> <span>Settings</span></a>
							</li>
							<li class="submenu">
								<a href="#"><i class="fe fe-document"></i> <span> Reports</span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li><a href="invoice-report.html">Invoice Reports</a></li>
								</ul>
							</li>
							<li class="menu-title">
								<span>Pages</span>
							</li>
							<li>
								<a href="profile.html"><i class="fe fe-user-plus"></i> <span>Profile</span></a>
							</li>
							<li class="submenu">
								<a href="#"><i class="fe fe-document"></i> <span> Authentication </span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li><a href="login.html"> Login </a></li>
									<li><a href="register.html"> Register </a></li>
									<li><a href="forgot-password.html"> Forgot Password </a></li>
									<li><a href="lock-screen.html"> Lock Screen </a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="#"><i class="fe fe-warning"></i> <span> Error Pages </span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li><a href="error-404.html">404 Error </a></li>
									<li><a href="error-500.html">500 Error </a></li>
								</ul>
							</li>
							<li>
								<a href="blank-page.html"><i class="fe fe-file"></i> <span>Blank Page</span></a>
							</li>
							<li class="menu-title">
								<span>UI Interface</span>
							</li>
							<li>
								<a href="components.html"><i class="fe fe-vector"></i> <span>Components</span></a>
							</li>
							<li class="submenu">
								<a href="#"><i class="fe fe-layout"></i> <span> Forms </span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li><a href="form-basic-inputs.html">Basic Inputs </a></li>
									<li><a href="form-input-groups.html">Input Groups </a></li>
									<li><a href="form-horizontal.html">Horizontal Form </a></li>
									<li><a href="form-vertical.html"> Vertical Form </a></li>
									<li><a href="form-mask.html"> Form Mask </a></li>
									<li><a href="form-validation.html"> Form Validation </a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="#"><i class="fe fe-table"></i> <span> Tables </span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li><a href="tables-basic.html">Basic Tables </a></li>
									<li><a href="data-tables.html">Data Table </a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="javascript:void(0);"><i class="fe fe-code"></i> <span>Multi Level</span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li class="submenu">
										<a href="javascript:void(0);"> <span>Level 1</span> <span class="menu-arrow"></span></a>
										<ul style="display: none;">
											<li><a href="javascript:void(0);"><span>Level 2</span></a></li>
											<li class="submenu">
												<a href="javascript:void(0);"> <span> Level 2</span> <span class="menu-arrow"></span></a>
												<ul style="display: none;">
													<li><a href="javascript:void(0);">Level 3</a></li>
													<li><a href="javascript:void(0);">Level 3</a></li>
												</ul>
											</li>
											<li><a href="javascript:void(0);"> <span>Level 2</span></a></li>
										</ul>
									</li>
									<li>
										<a href="javascript:void(0);"> <span>Level 1</span></a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
                </div>
            </div>
			<!-- /Sidebar -->

			<!-- Page Wrapper -->
            <div class="page-wrapper">

                <div class="content container-fluid">

					<!-- Page Header -->
					<div class="page-header">
						<div class="row">
							<div class="col-sm-12">
								<h3 class="page-title">欢迎 管理员!</h3>
							</div>
						</div>
					</div>
					<!-- /Page Header -->

					<div class="row">
						<div class="col-xl-3 col-sm-6 col-12">
							<div class="card">
								<div class="card-body">
									<div class="dash-widget-header">
										<span class="dash-widget-icon text-primary border-primary">
											<i class="fe fe-users"></i>
										</span>
										<div class="dash-count">
											<h3 th:text="${designerNum}"></h3>
										</div>
									</div>
									<div class="dash-widget-info">
										<h6 class="text-muted">设计师</h6>
										<div class="progress progress-sm">
											<div class="progress-bar bg-primary w-50"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-sm-6 col-12">
							<div class="card">
								<div class="card-body">
									<div class="dash-widget-header">
										<span class="dash-widget-icon text-success">
											<i class="fe fe-credit-card"></i>
										</span>
										<div class="dash-count">
											<h3 th:text="${workerNum}"></h3>
										</div>
									</div>
									<div class="dash-widget-info">

										<h6 class="text-muted">施工人员</h6>
										<div class="progress progress-sm">
											<div class="progress-bar bg-success w-50"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-sm-6 col-12">
							<div class="card">
								<div class="card-body">
									<div class="dash-widget-header">
										<span class="dash-widget-icon text-danger border-danger">
											<i class="fe fe-money"></i>
										</span>
										<div class="dash-count">
											<h3>485</h3>
										</div>
									</div>
									<div class="dash-widget-info">

										<h6 class="text-muted">用户人数</h6>
										<div class="progress progress-sm">
											<div class="progress-bar bg-danger w-50"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-sm-6 col-12">
							<div class="card">
								<div class="card-body">
									<div class="dash-widget-header">
										<span class="dash-widget-icon text-warning border-warning">
											<i class="fe fe-folder"></i>
										</span>
										<div class="dash-count">
											<h3>$62523</h3>
										</div>
									</div>
									<div class="dash-widget-info">

										<h6 class="text-muted">预约数量</h6>
										<div class="progress progress-sm">
											<div class="progress-bar bg-warning w-50"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 col-lg-6">

							<!-- Sales Chart -->
							<div class="card card-chart">
								<div class="card-header">
									<h4 class="card-title">Revenue</h4>
								</div>
								<div class="card-body">
									<div id="morrisArea"></div>
								</div>
							</div>
							<!-- /Sales Chart -->

						</div>
						<div class="col-md-12 col-lg-6">

							<!-- Invoice Chart -->
							<div class="card card-chart">
								<div class="card-header">
									<h4 class="card-title">Status</h4>
								</div>
								<div class="card-body">
									<div id="morrisLine"></div>
								</div>
							</div>
							<!-- /Invoice Chart -->

						</div>
					</div>
					<div class="row">
						<div class="col-md-6 d-flex">

							<!-- Recent Orders -->
							<div class="card card-table flex-fill">
								<div class="card-header">
									<h4 class="card-title">设计师列表</h4>
								</div>
								<div class="card-body">
									<div class="table-responsive">
										<table class="table table-hover table-center mb-0">
											<thead>
												<tr>
													<th>姓名</th>
													<th>等级</th>
													<th>联系电话</th>
													<th>邮箱</th>
												</tr>
											</thead>
											<tbody id="tbody_designer">
<!--												<tr th:each="i:${#numbers.sequence(0,4)}">-->
<!--													<td>-->
<!--														<h2 class="table-avatar">-->
<!--															<a th:href="@{/designer/}+${designers[i].id}" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" alt="Designer Image" th:src="${designers[i].pic}"></a>-->
<!--															<a th:href="@{/designer/}+${designers[i].id}" th:text="${designers[i].name}"></a>-->
<!--														</h2>-->
<!--													</td>-->
<!--													<td th:text="${designers[i].tel}"></td>-->
<!--													<td th:text="${designers[i].email}"></td>-->
<!--													<td th:text="${designers[i].location}"></td>-->
<!--												</tr>-->
											</tbody>
										</table>
										<div class="pagination-area" style="text-align: center">
											<nav aria-label="Page navigation example" style="margin: 0 auto">
												<ul class="pagination justify-content-center">
													<li>
														<a class="page-link" aria-label="Previous" onclick="designerPrePage()">
															<span aria-hidden="true">&laquo;</span>
														</a>
													</li>
													<li class="page-item">
														<a id="designerPageNow" class="page-link"></a>
													</li>
													<li>
														<a class="page-link"aria-label="Next" onclick="designerNextPage()">
															<span aria-hidden="true">&raquo</span>
														</a>
													</li>
												</ul>
											</nav>
										</div>
									</div>
								</div>
							</div>
							<!-- /Recent Orders -->

						</div>
						<div class="col-md-6 d-flex">

							<!-- Feed Activity -->
							<div class="card  card-table flex-fill">
								<div class="card-header">
									<h4 class="card-title">工人列表</h4>
								</div>
								<div class="card-body">
									<div class="table-responsive">
										<table class="table table-hover table-center mb-0">
											<thead>
												<tr>
													<th>姓名</th>
													<th>联系电话</th>
													<th>工种</th>
													<th>所在城市</th>
												</tr>
											</thead>
											<tbody id="tbody_worker">
<!--											<tr th:each="i:${#numbers.sequence(0,4)}">-->
<!--												<td>-->
<!--													<h2 class="table-avatar">-->
<!--														<a th:href="@{/worker/}+${workers[i].id}" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" alt="Designer Image" th:src="${workers[i].pic}"></a>-->
<!--														<a th:href="@{/worker/}+${workers[i].id}" th:text="${workers[i].name}"></a>-->
<!--													</h2>-->
<!--												</td>-->
<!--												<td th:text="${workers[i].type}"></td>-->
<!--												<td th:text="${workers[i].tel}"></td>-->
<!--												<td th:text="${workers[i].city}"></td>-->
<!--											</tr>-->
											</tbody>
										</table>
										<div class="pagination-area" style="text-align: center">
											<nav aria-label="Page navigation example" style="margin: 0 auto">
												<ul class="pagination justify-content-center">
													<li>
														<a class="page-link" aria-label="Previous" onclick="workerPrePage()">
															<span aria-hidden="true">&laquo;</span>
														</a>
													</li>
													<li class="page-item">
														<a id="workerPageNow" class="page-link"></a>
													</li>
													<li>
														<a class="page-link"aria-label="Next" onclick="workerNextPage()">
															<span aria-hidden="true">&raquo;</span>
														</a>
													</li>
												</ul>
											</nav>
										</div>
									</div>
								</div>
							</div>
							<!-- /Feed Activity -->

						</div>
					</div>
					<div class="row">
						<div class="col-md-12">

							<!-- Recent Orders -->
							<div class="card">
								<div class="card-body">
									<div class="table-responsive">
										<table class="datatable table table-hover table-center mb-0">
											<thead>
											<tr>
												<th>Doctor Name</th>
												<th>Speciality</th>
												<th>Patient Name</th>
												<th>Apointment Time</th>
												<th>Status</th>
												<th class="text-right">Amount</th>
											</tr>
											</thead>
											<tbody>
											<tr>
												<td>
													<h2 class="table-avatar">
														<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/doctors/doctor-thumb-01.jpg" alt="User Image"></a>
														<a href="profile.html">Dr. Ruby Perrin</a>
													</h2>
												</td>
												<td>Dental</td>
												<td>
													<h2 class="table-avatar">
														<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/patients/patient1.jpg" alt="User Image"></a>
														<a href="profile.html">Charlene Reed </a>
													</h2>
												</td>
												<td>9 Nov 2019 <span class="text-primary d-block">11.00 AM - 11.15 AM</span></td>
												<td>
													<div class="status-toggle">
														<input type="checkbox" id="status_1" class="check" checked>
														<label for="status_1" class="checktoggle">checkbox</label>
													</div>
												</td>
												<td class="text-right">
													$200.00
												</td>
											</tr>
											<tr>
												<td>
													<h2 class="table-avatar">
														<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/doctors/doctor-thumb-02.jpg" alt="User Image"></a>
														<a href="profile.html">Dr. Darren Elder</a>
													</h2>
												</td>
												<td>Dental</td>
												<td>
													<h2 class="table-avatar">
														<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/patients/patient2.jpg" alt="User Image"></a>
														<a href="profile.html">Travis Trimble </a>
													</h2>
												</td>

												<td>5 Nov 2019 <span class="text-primary d-block">11.00 AM - 11.35 AM</span></td>
												<td>
													<div class="status-toggle">
														<input type="checkbox" id="status_2" class="check" checked>
														<label for="status_2" class="checktoggle">checkbox</label>
													</div>
												</td>
												<td class="text-right">
													$300.00
												</td>
											</tr>
											<tr>
												<td>
													<h2 class="table-avatar">
														<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/doctors/doctor-thumb-03.jpg" alt="User Image"></a>
														<a href="profile.html">Dr. Deborah Angel</a>
													</h2>
												</td>
												<td>Cardiology</td>
												<td>
													<h2 class="table-avatar">
														<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/patients/patient3.jpg" alt="User Image"></a>
														<a href="profile.html">Carl Kelly</a>
													</h2>
												</td>
												<td>11 Nov 2019 <span class="text-primary d-block">12.00 PM - 12.15 PM</span></td>
												<td>
													<div class="status-toggle">
														<input type="checkbox" id="status_3" class="check" checked>
														<label for="status_3" class="checktoggle">checkbox</label>
													</div>
												</td>
												<td class="text-right">
													$150.00
												</td>
											</tr>
											<tr>
												<td>
													<h2 class="table-avatar">
														<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/doctors/doctor-thumb-04.jpg" alt="User Image"></a>
														<a href="profile.html">Dr. Sofia Brient</a>
													</h2>
												</td>
												<td>Urology</td>
												<td>
													<h2 class="table-avatar">
														<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/patients/patient4.jpg" alt="User Image"></a>
														<a href="profile.html"> Michelle Fairfax</a>
													</h2>
												</td>
												<td>7 Nov 2019 <span class="text-primary d-block">1.00 PM - 1.20 PM</span></td>
												<td>
													<div class="status-toggle">
														<input type="checkbox" id="status_4" class="check" checked>
														<label for="status_4" class="checktoggle">checkbox</label>
													</div>
												</td>
												<td class="text-right">
													$150.00
												</td>
											</tr>
											<tr>
												<td>
													<h2 class="table-avatar">
														<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/doctors/doctor-thumb-05.jpg" alt="User Image"></a>
														<a href="profile.html">Dr. Marvin Campbell</a>
													</h2>
												</td>
												<td>Orthopaedics</td>
												<td>
													<h2 class="table-avatar">
														<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/patients/patient5.jpg" alt="User Image"></a>
														<a href="profile.html">Gina Moore</a>
													</h2>
												</td>

												<td>15 Nov 2019 <span class="text-primary d-block">1.00 PM - 1.15 PM</span></td>
												<td>
													<div class="status-toggle">
														<input type="checkbox" id="status_5" class="check" checked>
														<label for="status_5" class="checktoggle">checkbox</label>
													</div>
												</td>
												<td class="text-right">
													$200.00
												</td>
											</tr>
											<tr>
												<td>
													<h2 class="table-avatar">
														<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/doctors/doctor-thumb-06.jpg" alt="User Image"></a>
														<a href="profile.html">Dr. Katharine Berthold</a>
													</h2>
												</td>
												<td>Orthopaedics</td>
												<td>
													<h2 class="table-avatar">
														<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/patients/patient6.jpg" alt="User Image"></a>
														<a href="profile.html">Elsie Gilley</a>
													</h2>
												</td>

												<td>16 Nov 2019 <span class="text-primary d-block">1.00 PM - 1.15 PM</span></td>
												<td>
													<div class="status-toggle">
														<input type="checkbox" id="status_5" class="check" checked>
														<label for="status_5" class="checktoggle">checkbox</label>
													</div>
												</td>
												<td class="text-right">
													$250.00
												</td>
											</tr>
											<tr>
												<td>
													<h2 class="table-avatar">
														<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/doctors/doctor-thumb-07.jpg" alt="User Image"></a>
														<a href="profile.html">Dr. Linda Tobin</a>
													</h2>
												</td>
												<td>Neurology</td>
												<td>
													<h2 class="table-avatar">
														<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/patients/patient7.jpg" alt="User Image"></a>
														<a href="profile.html">Joan Gardner</a>
													</h2>
												</td>

												<td>18 Nov 2019 <span class="text-primary d-block">1.10 PM - 1.25 PM</span></td>
												<td>
													<div class="status-toggle">
														<input type="checkbox" id="status_5" class="check" checked>
														<label for="status_5" class="checktoggle">checkbox</label>
													</div>
												</td>
												<td class="text-right">
													$260.00
												</td>
											</tr>
											<tr>
												<td>
													<h2 class="table-avatar">
														<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/doctors/doctor-thumb-08.jpg" alt="User Image"></a>
														<a href="profile.html">Dr. Paul Richard</a>
													</h2>
												</td>
												<td>Dermatology</td>
												<td>
													<h2 class="table-avatar">
														<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/patients/patient8.jpg" alt="User Image"></a>
														<a href="profile.html"> Daniel Griffing</a>
													</h2>
												</td>

												<td>18 Nov 2019 <span class="text-primary d-block">11.10 AM - 11.25 AM</span></td>
												<td>
													<div class="status-toggle">
														<input type="checkbox" id="status_5" class="check" checked>
														<label for="status_5" class="checktoggle">checkbox</label>
													</div>
												</td>
												<td class="text-right">
													$260.00
												</td>
											</tr>
											<tr>
												<td>
													<h2 class="table-avatar">
														<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/doctors/doctor-thumb-09.jpg" alt="User Image"></a>
														<a href="profile.html">Dr. John Gibbs</a>
													</h2>
												</td>
												<td>Dental</td>
												<td>
													<h2 class="table-avatar">
														<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/patients/patient9.jpg" alt="User Image"></a>
														<a href="profile.html">Walter Roberson</a>
													</h2>
												</td>

												<td>21 Nov 2019 <span class="text-primary d-block">12.10 PM - 12.25 PM</span></td>
												<td>
													<div class="status-toggle">
														<input type="checkbox" id="status_5" class="check" checked>
														<label for="status_5" class="checktoggle">checkbox</label>
													</div>
												</td>
												<td class="text-right">
													$300.00
												</td>
											</tr>
											<tr>
												<td>
													<h2 class="table-avatar">
														<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/doctors/doctor-thumb-10.jpg" alt="User Image"></a>
														<a href="profile.html">Dr. Olga Barlow</a>
													</h2>
												</td>
												<td>Dental</td>
												<td>
													<h2 class="table-avatar">
														<a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/patients/patient10.jpg" alt="User Image"></a>
														<a href="profile.html">Robert Rhodes</a>
													</h2>
												</td>

												<td>23 Nov 2019 <span class="text-primary d-block">12.10 PM - 12.25 PM</span></td>
												<td>
													<div class="status-toggle">
														<input type="checkbox" id="status_5" class="check" checked>
														<label for="status_5" class="checktoggle">checkbox</label>
													</div>
												</td>
												<td class="text-right">
													$300.00
												</td>
											</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<!-- /Recent Orders -->

						</div>
					</div>

				</div>
			</div>
			<!-- /Page Wrapper -->

        </div>
		<!-- /Main Wrapper -->

		<!-- jQuery -->
        <script src="../Path/admin/js/jquery-3.2.1.min.js"></script>

		<!-- Bootstrap Core JS -->
        <script src="../Path/admin/js/popper.min.js"></script>
        <script src="http://cdn.bootstrapmb.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

		<!-- Slimscroll JS -->
        <script src="../Path/admin/plugins/slimscroll/jquery.slimscroll.min.js"></script>

		<script src="../Path/admin/plugins/raphael/raphael.min.js"></script>
		<script src="../Path/admin/plugins/morris/morris.min.js"></script>
		<script src="../Path/admin/js/chart.morris.js"></script>

		<!-- Custom JS -->
		<script  src="../Path/admin/js/script.js"></script>

		<!-- Datatables JS -->
		<!-- Datatables JS -->
		<script src="../Path/admin/plugins/datatables/jquery.dataTables.min.js"></script>
		<script src="../Path/admin/plugins/datatables/datatables.min.js"></script>
		<script th:inline="javascript">
			var designerPageNow = 1;
			var workerPageNow = 1;
			$(function(){
				getDesignerPage();
				getWorkerPage();
			})
			function getDesignerPage(){
				$.ajax({
					async : false,
					cache : false,
					type:'POST',
					data:{pageNow:designerPageNow,pageCount:'5'},
					url:"/admin/getdesignerList" ,
					success:function (result) {
						/**
						 * 找到并清空原先页码中的数字，并将其替换为当前页码
						 * @type {HTMLElement}
						 */
						var designerPage = document.getElementById("designerPageNow");
						designerPage.innerHTML="";
						designerPage.appendChild(document.createTextNode(designerPageNow));
						//将List 转成json,传到界面。js中使用eval（result）将list转成js数组。
						var s = JSON.stringify(result);
						var keyList = eval(s);
						// var link = '[[@{/designer/}]]';
						/**
						 * 局部刷新列表
						 * @type {HTMLElement}
						 */
						//找到列表索要展示的父类，并将原先的内容清空
						var tbody_designer = document.getElementById("tbody_designer");
						tbody_designer.innerHTML="";
						/**
						 * 当获取到的当前页码的数据小于等于0条时，说明该页无数据，前一页为最后一页
						 * 将当前页面设为第一页，并重新读取第一页的数据，结束本次操作
						 */
						if (keyList.length <=0 ){
							designerPageNow = 1;
							getDesignerPage();
							return;
						}
						/**
						 * 创建列表元素并将数据写入列表
						 */
						for (var i = 0; i < keyList.length; i++) {
							var tr = document.createElement("tr");
							var td1 = document.createElement("td");
							var td1_h2 = document.createElement("h2");
							td1_h2.setAttribute("class","table-avatar");
							var td1_h2_a1 = document.createElement("a");
							var td1_h2_a2 = document.createElement("a");
							// td1_h2_a1.setAttribute("href",keyList[i].id);
							td1_h2_a1.setAttribute("class","avatar avatar-sm mr-2");
							var img = document.createElement("img");
							img.setAttribute("src",keyList[i].pic)
							img.setAttribute("class","avatar-img rounded-circle");
							td1_h2_a1.appendChild(img);
							td1_h2_a2.appendChild(document.createTextNode(keyList[i].name));
							td1_h2.appendChild(td1_h2_a1);
							td1_h2.appendChild(td1_h2_a2);
							td1.append(td1_h2);
							var td2 = document.createElement("td");
							td2.appendChild(document.createTextNode(keyList[i].level));
							var td3 = document.createElement("td");
							td3.appendChild(document.createTextNode(keyList[i].tel));
							var td4 = document.createElement("td");
							td4.appendChild(document.createTextNode(keyList[i].email));
							tr.appendChild(td1);
							tr.appendChild(td2);
							tr.appendChild(td3);
							tr.appendChild(td4);
							tbody_designer.appendChild(tr);
						}
					},error:function (e) {
						console.log(e);
					}
				});
			}

			/**
			 * 获取前一页的设计师数据
			 */
			function designerPrePage(){
				designerPageNow -= 1;
				if (designerPageNow <= 0){
					designerPageNow = 1;
				}
				getDesignerPage();
			}
			function designerNextPage(){
				designerPageNow += 1;
				getDesignerPage();
			}
			function getWorkerPage(){
				$.ajax({
					async : false,
					cache : false,
					type:'POST',
					data:{pageNow:workerPageNow,pageCount:'5'},
					url:"/admin/getworkerList" ,
					success:function (result) {
						var workerPage = document.getElementById("workerPageNow");
						workerPage.innerHTML="";
						workerPage.appendChild(document.createTextNode(workerPageNow));
						//将List 转成json,传到界面。js中使用eval（result）将list转成js数组。
						var s = JSON.stringify(result);
						var keyList = eval(s);
						var tbody_worker = document.getElementById("tbody_worker");
						tbody_worker.innerHTML="";
						if (keyList.length <=0 ){
							workerPageNow = 1;
							getWorkerPage();
							return;
						}
						for (var i = 0; i < keyList.length; i++) {
							var tr = document.createElement("tr");
							var td1 = document.createElement("td");
							var td1_h2 = document.createElement("h2");
							td1_h2.setAttribute("class","table-avatar");
							var td1_h2_a1 = document.createElement("a");
							var td1_h2_a2 = document.createElement("a");
							// td1_h2_a1.setAttribute("href",keyList[i].id);
							td1_h2_a1.setAttribute("class","avatar avatar-sm mr-2");
							var img = document.createElement("img");
							img.setAttribute("src",keyList[i].pic)
							img.setAttribute("class","avatar-img rounded-circle");
							td1_h2_a1.appendChild(img);
							td1_h2_a2.appendChild(document.createTextNode(keyList[i].name));
							td1_h2.appendChild(td1_h2_a1);
							td1_h2.appendChild(td1_h2_a2);
							td1.append(td1_h2);
							var td2 = document.createElement("td");
							td2.appendChild(document.createTextNode(keyList[i].tel));
							var td3 = document.createElement("td");
							td3.appendChild(document.createTextNode(keyList[i].type));
							var td4 = document.createElement("td");
							td4.appendChild(document.createTextNode(keyList[i].city));
							tr.appendChild(td1);
							tr.appendChild(td2);
							tr.appendChild(td3);
							tr.appendChild(td4);
							tbody_worker.appendChild(tr);
						}
						// for (var i = 0; i < keyList.length; i++) {
						// 	alert(keyList[i].id);
						// 	alert(keyList[i].name);
						// }
					},error:function (e) {
						console.log(e);
					}
				});
			}
			function workerPrePage(){
				workerPageNow -= 1;
				if (workerPageNow <= 0){
					workerPageNow = 1;
				}
				getWorkerPage();
			}
			function workerNextPage(){
				workerPageNow += 1;
				getWorkerPage();
			}
		</script>
	</body>
</html>
