<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>我爱我家装修公司</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../../Path/image/newlogo.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="http://cdn.bootstrapmb.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="../../Path/admin/css/font-awesome.min.css">

    <!-- Feathericon CSS -->
    <link rel="stylesheet" href="../../Path/admin/css/feathericon.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="../../Path/admin/css/style.css">

    <!-- Select2 CSS -->
    <link rel="stylesheet" href="../../Path/admin/css/select2.min.css">

    <!--[if lt IE 9]>
    <script src="../../Path/admin/js/html5shiv.min.js"></script>
    <script src="../../Path/admin/js/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="../../Path/admin/css/jquery.multiselect.css"/>
</head>
<body>

<!-- Main Wrapper -->
<div class="main-wrapper">

    <!-- Header -->
    <div class="header">

        <!-- Logo -->
        <div class="header-left">
            <a href="index.html" class="logo">
                <img src="../../Path/image/newlogo.png" alt="Logo">
                <span style="font-size: 16px;color: pink;font-width: 700">我爱我家</span>
            </a>
            <a href="index.html" class="logo logo-small">
                <img src="../../Path/image/newlogo.png" alt="Logo" width="30" height="30">
            </a>
        </div>
        <!-- /Logo -->

        <a href="javascript:void(0);" id="toggle_btn">
            <i class="fe fe-text-align-left"></i>
        </a>

        <!-- Mobile Menu Toggle -->
        <a class="mobile_btn" id="mobile_btn">
            <i class="fa fa-bars"></i>
        </a>
        <!-- /Mobile Menu Toggle -->

        <!-- Header Right Menu -->
        <ul class="nav user-menu">

            <!-- User Menu -->
            <li class="nav-item dropdown has-arrow">
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                    <span class="user-img"><img class="rounded-circle" src="../../Path/admin/img/profiles/admin.png"
                                                width="31" alt="管理员"></span>
                </a>
                <div class="dropdown-menu">
                    <div class="user-header">
                        <div class="avatar avatar-sm">
                            <img src="../../Path/admin/img/profiles/admin.png" alt="User Image"
                                 class="avatar-img rounded-circle">
                        </div>
                        <div class="user-text">
                            <h6 th:text="${#request.getSession().getAttribute('name')}"></h6>
                            <p class="text-muted mb-0">超级管理员</p>
                        </div>
                    </div>
                    <a class="dropdown-item" th:href="@{/index}">游客界面</a>
                </div>
            </li>
            <!-- /User Menu -->

        </ul>
        <!-- /Header Right Menu -->

    </div>
    <!-- /Header -->
    <!-- Sidebar -->
    <div class="sidebar" id="sidebar">
        <div class="sidebar-inner slimscroll">
            <div id="sidebar-menu" class="sidebar-menu">
                <ul>
                    <li>
                        <a th:href="@{/admin/index}"><i class="fe fe-home"></i> <span>首页</span></a>
                    </li>
                    <li>
                        <a th:href="@{/admin/designerList}"><i class="fe fe-user"></i> <span>设计师列表</span></a>
                    </li>

                    <li class="active">
                        <a th:href="@{/admin/workerList}"><i class="fe fe-users"></i> <span>工人列表</span></a>
                    </li>
                    <li>
                        <a th:href="@{/admin/userList}"><i class="fe fe-user-plus"></i> <span>用户列表</span></a>
                    </li>
                    <li>
                        <a th:href="@{/admin/setOrderList}"><i class="fe fe-activity"></i> <span>活动预约列表</span></a>
                    </li>
                    <li>
                        <a th:href="@{/admin/bookList}"><i class="fe fe-table"></i> <span>在线预约列表</span></a>
                    </li>
                    <li>
                        <a th:href="@{/admin/appointmentList}"><i class="fe fe-document"></i> <span>设计师预约列表</span></a>
                    </li>
                    <li class="submenu">
                        <a href="javascript:void(0);"><i class="fe fe-code"></i> <span>索引</span> <span
                                class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <li class="submenu">
                                <a href="javascript:void(0);"> <span>案例索引</span> <span class="menu-arrow"></span></a>
                                <ul style="display: none;">
                                    <li><a th:href="@{/admin/indexList/styleindex}"><span>风格</span></a></li>
                                    <li><a th:href="@{/admin/indexList/housearea}"> <span>面积</span></a></li>
                                    <li><a th:href="@{/admin/indexList/housetype}"> <span>装修类型</span></a></li>
                                    <li><a th:href="@{/admin/indexList/houseform}"> <span>装修类别</span></a></li>
                                </ul>
                            </li>
                            <li class="submenu">
                                <a href="javascript:void(0);"> <span>设计师索引</span> <span class="menu-arrow"></span></a>
                                <ul style="display: none;">
                                    <li><a th:href="@{/admin/indexList/styleindex}"><span>风格</span></a></li>
                                    <li><a th:href="@{/admin/indexList/designerlevel}"> <span>等级</span></a></li>
                                </ul>
                            </li>
                            <li class="submenu">
                                <a href="javascript:void(0);"> <span>施工团队索引</span> <span class="menu-arrow"></span></a>
                                <ul style="display: none;">
                                    <li><a th:href="@{/admin/indexList/workertype}"><span>工种</span></a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Sidebar -->

    <!-- Page Wrapper -->
    <div class="page-wrapper">
        <div class="content container-fluid">

            <!-- Page Header -->
            <div class="page-header">
                <div class="row">
                    <div class="col">
                        <h3 class="page-title">工人</h3>
                    </div>
                </div>
            </div>
            <!-- /Page Header -->

            <div class="row">
                <div class="col-md-12">
                    <div class="profile-header">
                        <div class="row align-items-center">
                            <div class="col-auto profile-image">
                                <a href="#">
                                    <img class="rounded-circle" alt="User Image" th:src="${workerInfo.pic}">
                                </a>
                            </div>
                            <div class="col ml-md-n2 profile-user-info">
                                <h4 class="user-name" th:text="${workerInfo.name}"></h4>
                                <h6 class="text-muted" th:text="${workerInfo.tel}"></h6>
                                <div class="user-Location"><i class="fa fa-map-marker"></i><span
                                        th:text="${workerInfo.city}"></span></div>
                            </div>
                            <div class="col-auto profile-btn">
                                <a class="btn btn-primary" data-toggle="modal" href="#edit_personal_details_1">
                                    编辑
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="profile-menu">
                        <ul class="nav nav-tabs nav-tabs-solid">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#per_details_tab">详情</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content profile-tab-cont">

                        <!-- Personal Details Tab -->
                        <div class="tab-pane fade show active" id="per_details_tab">

                            <!-- Personal Details -->
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title d-flex justify-content-between">
                                                <span>个人信息</span>
                                                <a class="edit-link" data-toggle="modal"
                                                   href="#edit_personal_details"><i class="fa fa-edit mr-1"></i>编辑</a>
                                            </h5>
                                            <div class="row">
                                                <p class="col-sm-2 text-muted text-sm-right mb-0 mb-sm-3">工人ID</p>
                                                <p class="col-sm-10" th:text="${workerInfo.id}"></p>
                                            </div>
                                            <div class="row">
                                                <p class="col-sm-2 text-muted text-sm-right mb-0 mb-sm-3">性别</p>
                                                <p class="col-sm-10" th:text="${workerInfo.gender}"></p>
                                            </div>
                                            <div class="row">
                                                <p class="col-sm-2 text-muted text-sm-right mb-0 mb-sm-3">工种</p>
                                                <p class="col-sm-10" th:text="${workerInfo.type}"></p>
                                            </div>
                                            <div class="row">
                                                <p class="col-sm-2 text-muted text-sm-right mb-0 mb-sm-3">工龄</p>
                                                <p class="col-sm-10" th:text="${workerInfo.workingAge}"></p>
                                            </div>
                                            <div class="row">
                                                <p class="col-sm-2 text-muted text-sm-right mb-0 mb-sm-3">代表作</p>
                                                <p class="col-sm-10" th:text="${workerInfo.represent}"></p>
                                            </div>
                                            <div class="row">
                                                <p class="col-sm-2 text-muted text-sm-right mb-0 mb-sm-3">描述</p>
                                                <p class="col-sm-10" th:text="${workerInfo.des}"></p>
                                            </div>
                                            <div class="row">
                                                <p class="col-sm-2 text-muted text-sm-right mb-0 mb-sm-3">宣言</p>
                                                <p class="col-sm-10" th:text="${workerInfo.declaration}"></p>
                                            </div>
                                            <!--                      <div class="row">-->
                                            <!--                        <p class="col-sm-2 text-muted text-sm-right mb-0 mb-sm-3">工龄</p>-->
                                            <!--                        <p class="col-sm-10" th:text="${workerInfo.workingAge}"></p>-->
                                            <!--                      </div>-->
                                            <!--                      <div class="row">-->
                                            <!--                        <p class="col-sm-2 text-muted text-sm-right mb-0 mb-sm-3">等级</p>-->
                                            <!--                        <p class="col-sm-10" th:text="${workerInfo.level}"></p>-->
                                            <!--                      </div>-->
                                            <!--                      <div class="row">-->
                                            <!--                        <p class="col-sm-2 text-muted text-sm-right mb-0">风格</p>-->
                                            <!--                        <p class="col-sm-10" th:text="${workerInfo.style}"></p>-->
                                            <!--                      </div>-->
                                            <!--                      <div class="row">-->
                                            <!--                        <p class="col-sm-2 text-muted text-sm-right mb-0">代表作</p>-->
                                            <!--                        <p class="col-sm-10" th:text="${workerInfo.represent}"></p>-->
                                            <!--                      </div>-->
                                            <!--                      <div class="row">-->
                                            <!--                        <p class="col-sm-2 text-muted text-sm-right mb-0">宣言</p>-->
                                            <!--                        <p class="col-sm-10 mb-0" th:text="${workerInfo.form}"></p>-->
                                            <!--                      </div>-->
                                        </div>
                                    </div>

                                    <!-- Edit Details Modal -->
                                    <div class="modal fade" id="edit_personal_details_1" aria-hidden="true"
                                         role="dialog">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">工人个人信息</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <form th:action="@{../modifyWorker1}" method="post"
                                                          enctype="multipart/form-data">
                                                        <div class="row form-row">
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <label>姓名</label>
                                                                    <input name="name" type="text" class="form-control"
                                                                           th:value="${workerInfo.name}">
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <label>照片</label>
                                                                    <input name="filePic" type="file"
                                                                           class="form-control">
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <label>电话</label>
                                                                    <input name="tel" type="text" class="form-control"
                                                                           th:value="${workerInfo.tel}">
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-sm-6">
                                                                <div class="form-group">
                                                                    <label>所在省份</label>
                                                                    <select class="form-control" id="province"
                                                                            name="province"
                                                                            onChange="changeProvince(this)">
                                                                        <option>请选择省份</option>
                                                                        <option th:each="province : ${provinces}"
                                                                                th:text="${province.district_name}"
                                                                                th:value="${province.id}"
                                                                                th:selected="${province.id} == ${provinceNow.id}"></option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-sm-6">
                                                                <div class="form-group">
                                                                    <label>所在城市</label>
                                                                    <select class="form-control" id="city"
                                                                            name="cityId">
                                                                        <option>请选择城市</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <input name="id" type="hidden" class="hidden"
                                                                   th:value="${workerInfo.id}">
                                                            <input name="pic" type="hidden" class="hidden"
                                                                   th:value="${workerInfo.pic}">
                                                            <input id="cityId_hidden" type="hidden" class="hidden"
                                                                   th:value="${workerInfo.cityId}">
                                                        </div>
                                                        <button type="submit" class="btn btn-primary btn-block col-12">
                                                            保存
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /Edit Details Modal -->

                                    <!-- Edit Details Modal -->
                                    <div class="modal fade" id="edit_personal_details" aria-hidden="true" role="dialog">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">个人信息</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <form th:action="@{../modifyWorker2}" method="post">
                                                        <div class="row form-row">
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <label>ID</label>
                                                                    <input name="id" type="text" class="form-control"
                                                                           th:value="${workerInfo.id}" readonly>
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <label>工种</label>
                                                                    <select class="form-control" name="typeValue">
                                                                        <option th:each="type : ${workerType}"
                                                                                th:text="${type.name}"
                                                                                th:value="${type.id}"
                                                                                th:selected="${workerInfo.typeValue} == ${type.id}">
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <label>工龄</label>
                                                                    <input name="workingAge" type="text"
                                                                           class="form-control"
                                                                           th:value="${workerInfo.workingAge}">
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <label>代表作</label>
                                                                    <input name="represent" type="text"
                                                                           class="form-control"
                                                                           th:value="${workerInfo.represent}">
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <label>描述</label>
                                                                    <input name="des" type="text" class="form-control"
                                                                           th:value="${workerInfo.des}">
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <label>宣言</label>
                                                                    <input name="declaration" type="text"
                                                                           class="form-control"
                                                                           th:value="${workerInfo.declaration}">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <button type="submit" class="btn btn-primary btn-block">保存
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /Edit Details Modal -->

                                </div>


                            </div>
                            <!-- /Personal Details -->

                        </div>
                        <!-- /Personal Details Tab -->

                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- /Page Wrapper -->

</div>
<!-- /Main Wrapper -->

<!-- jQuery -->
<script src="../../Path/admin/js/jquery-3.2.1.min.js"></script>

<!-- Bootstrap Core JS -->
<script src="../../Path/admin/js/popper.min.js"></script>
<script src="http://cdn.bootstrapmb.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- Slimscroll JS -->
<script src="../../Path/admin/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Custom JS -->
<script src="../../Path/admin/js/script.js"></script>

<!-- Select2 JS -->
<script src="../../Path/admin/js/select2.min.js"></script>

<script>
    var cityNowId = document.getElementById("cityId_hidden").value;
    $(function () {
        var provinceNow = document.getElementById("province");
        changeProvince(provinceNow);
    });

    function changeProvince(now) {
        $.ajax({
            url: "/queryCity/" + now.options[now.options.selectedIndex].value,
            type: "post",
            dataType: "json",
            success: function (data) {
                /*这个方法里是ajax发送请求成功之后执行的代码*/
                var province = now;
                var city = document.getElementById("city");
                var opt = now.options.selectedIndex;
                var j = 0;
                var length = city.options.length;
                /**
                 * 清空原选择框中选项
                 */
                for (i = 0; i < length; i++) {
                    city.removeChild(city.options[0]);
                }
                /**
                 * 添加新选项
                 */
                for (i = 0; i < data.length; i++) {
                    // console.log(data[i].district_name);
                    city.options[j++] = new Option(data[i].district_name, data[i].id);
                    if (data[i].id == cityNowId) {
                        city.options[j - 1].selected = true;
                    }
                }
            },
            error: function (msg) {
                alert("ajax连接异常：" + msg);
            }
        });
    };
</script>

</body>
</html>
