<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>我爱我家装修公司</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../Path/image/newlogo.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="http://cdn.bootstrapmb.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="../Path/admin/css/font-awesome.min.css">

    <!-- Feathericon CSS -->
    <link rel="stylesheet" href="../Path/admin/css/feathericon.min.css">

    <!-- Datatables CSS -->
    <link rel="stylesheet" href="../Path/admin/plugins/datatables/datatables.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="../Path/admin/css/style.css">

    <!--[if lt IE 9]>
    <script src="../Path/admin/js/html5shiv.min.js"></script>
    <script src="../Path/admin/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<!-- Main Wrapper -->
<div class="main-wrapper">

    <!-- Header -->
    <div class="header">

        <!-- Logo -->
        <div class="header-left">
            <a href="index.html" class="logo">
                <img src="../Path/image/newlogo.png" alt="Logo">
                <span style="font-size: 16px;color: pink;font-width: 700">我爱我家</span>
            </a>
            <a href="index.html" class="logo logo-small">
                <img src="../Path/image/newlogo.png" alt="Logo" width="30" height="30">
            </a>
        </div>
        <!-- /Logo -->

        <a href="javascript:void(0);" id="toggle_btn">
            <i class="fe fe-text-align-left"></i>
        </a>

        <!-- Mobile Menu Toggle -->
        <a class="mobile_btn" id="mobile_btn">
            <i class="fa fa-bars"></i>
        </a>
        <!-- /Mobile Menu Toggle -->

        <!-- Header Right Menu -->
        <ul class="nav user-menu">

            <!-- User Menu -->
            <li class="nav-item dropdown has-arrow">
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                    <span class="user-img"><img class="rounded-circle" src="../Path/admin/img/profiles/admin.png"
                                                width="31" alt="管理员"></span>
                </a>
                <div class="dropdown-menu">
                    <div class="user-header">
                        <div class="avatar avatar-sm">
                            <img src="../Path/admin/img/profiles/admin.png" alt="User Image"
                                 class="avatar-img rounded-circle">
                        </div>
                        <div class="user-text">
                            <h6 th:text="${#request.getSession().getAttribute('name')}"></h6>
                            <p class="text-muted mb-0">超级管理员</p>
                        </div>
                    </div>
                    <a class="dropdown-item" th:href="@{/index}">游客界面</a>
                </div>
            </li>
            <!-- /User Menu -->

        </ul>
        <!-- /Header Right Menu -->

    </div>
    <!-- /Header -->

    <!-- Sidebar -->
    <div class="sidebar" id="sidebar">
        <div class="sidebar-inner slimscroll">
            <div id="sidebar-menu" class="sidebar-menu">
                <ul>
                    <li>
                        <a th:href="@{/admin/index}"><i class="fe fe-home"></i> <span>首页</span></a>
                    </li>
                    <li>
                        <a th:href="@{/admin/designerList}"><i class="fe fe-user"></i> <span>设计师列表</span></a>
                    </li>
                    <li class="active">
                        <a th:href="@{/admin/workerList}"><i class="fe fe-users"></i> <span>工人列表</span></a>
                    </li>
                    <li>
                        <a th:href="@{/admin/userList}"><i class="fe fe-user-plus"></i> <span>用户列表</span></a>
                    </li>
                    <li>
                        <a th:href="@{/admin/setOrderList}"><i class="fe fe-activity"></i> <span>活动预约列表</span></a>
                    </li>
                    <li>
                        <a th:href="@{/admin/bookList}"><i class="fe fe-table"></i> <span>在线预约列表</span></a>
                    </li>
                    <li>
                        <a th:href="@{/admin/appointmentList}"><i class="fe fe-document"></i> <span>设计师预约列表</span></a>
                    </li>
                    <li class="submenu">
                        <a href="javascript:void(0);"><i class="fe fe-code"></i> <span>索引</span> <span class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <li class="submenu">
                                <a href="javascript:void(0);"> <span>案例索引</span> <span class="menu-arrow"></span></a>
                                <ul style="display: none;">
                                    <li><a th:href="@{/admin/indexList/styleindex}"><span>风格</span></a></li>
                                    <li><a th:href="@{/admin/indexList/housearea}"> <span>面积</span></a></li>
                                    <li><a th:href="@{/admin/indexList/housetype}"> <span>装修类型</span></a></li>
                                    <li><a th:href="@{/admin/indexList/houseform}"> <span>装修类别</span></a></li>
                                </ul>
                            </li>
                            <li class="submenu">
                                <a href="javascript:void(0);"> <span>设计师索引</span> <span class="menu-arrow"></span></a>
                                <ul style="display: none;">
                                    <li><a th:href="@{/admin/indexList/styleindex}"><span>风格</span></a></li>
                                    <li><a th:href="@{/admin/indexList/designerlevel}"> <span>等级</span></a></li>
                                </ul>
                            </li>
                            <li class="submenu">
                                <a href="javascript:void(0);"> <span>施工团队索引</span> <span class="menu-arrow"></span></a>
                                <ul style="display: none;">
                                    <li><a th:href="@{/admin/indexList/workertype}"><span>工种</span></a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Sidebar -->

    <!-- Page Wrapper -->
    <div class="page-wrapper">
        <div class="content container-fluid">

            <!-- Page Header -->
            <div class="page-header">
                <div class="row">
                    <div class="col-sm-11">
                        <h3 class="page-title">工人列表</h3>
                    </div>
                    <div class="col-sm-1">
                        <a class="btn btn-sm bg-primary-light mr-2" data-toggle="modal" href="#edit_personal_details">
                            <i class="fe fe-plus"></i> 添加
                        </a>
                    </div>
                </div>
            </div>
            <!-- /Page Header -->
            <div class="row">
                <div class="col-md-12">

                    <!-- Recent Orders -->
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="datatable table table-hover table-center mb-0">
                                    <thead>
                                    <tr>

                                        <th style="width: 5%">ID</th>
                                        <th style="width: 20%">姓名</th>
                                        <th style="width: 10%">性别</th>
                                        <th style="width: 10%">工龄</th>
                                        <th style="width: 10%">工种</th>
                                        <th style="width: 20%">联系电话</th>
                                        <th style="width: 25%">所在城市</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody id="tbody">
                                    <tr th:each="worker : ${workers}">
                                        <td th:text="${worker.id}"></td>
                                        <td>
                                            <h2 class="table-avatar">
                                                <a th:href="@{/admin/worker/}+${worker.id}"
                                                   class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle"
                                                                                      th:src="${worker.pic}"
                                                                                      alt="User Image"></a>
                                                <a th:href="@{/admin/worker/}+${worker.id}"
                                                   th:text="${worker.name}"></a>
                                            </h2>
                                        </td>
                                        <td th:text="${worker.gender}"></td>
                                        <td th:text="${worker.workingAge}"></td>
                                        <td th:text="${worker.type}"></td>
                                        <td th:text="${worker.tel}"></td>
                                        <td th:text="${worker.city}"></td>
                                        <td class="text-right">
                                            <div class="actions">
                                                <a th:href="@{/admin/worker/}+${worker.id}"
                                                   class="btn btn-sm bg-success-light mr-2">
                                                    <i class="fe fe-pencil"></i> 编辑
                                                </a>
                                                <button class="btn btn-sm bg-danger-light" data-toggle="modal"
                                                        th:attr="data-id=${worker.id},data-name=${worker.name}"
                                                        href="#delete_modal">
                                                    <i class="fe fe-trash"></i> 删除
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /Recent Orders -->

                </div>
            </div>
        </div>
    </div>
    <!-- /Page Wrapper -->

    <!-- Edit Details Modal -->
    <div class="modal fade" id="edit_personal_details" aria-hidden="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">添加工人</h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form th:action="@{/admin/addWorker}" method="post" enctype="multipart/form-data">
                        <div class="row form-row">
                            <div class="col-12">
                                <h5 class="form-title"><span>基本信息</span></h5>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>姓名</label>
                                    <input name="name" type="text" class="form-control" required>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>性别</label>
                                    <input name="gender" type="text" class="form-control" required>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label>照片</label>
                                    <input name="filePic" type="file" class="form-control" required>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>年龄</label>
                                    <input name="age" type="text" class="form-control" required>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>工龄</label>
                                    <input name="workingAge" type="text" class="form-control" required>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>所在城市</label>
                                    <select class="form-control" id="province" name="province" onChange="changeProvince(this)">
                                        <option>请选择省份</option>
                                        <option th:each="province : ${provinces}" th:text="${province.district_name}" th:value="${province.id}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>所在城市</label>
                                    <select class="form-control" id="city" name="cityId">
                                        <option>请选择城市</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <h5 class="form-title"><span>联系方式</span></h5>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label>联系电话</label>
                                    <input id="code_add" name="tel" type="text" class="form-control" required>
                                </div>
                            </div>
                            <div class="col-12">
                                <h5 class="form-title"><span>设计师信息</span></h5>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label>工种</label>
                                    <select class="form-control" id="typeValue" name="typeValue">
                                        <option>请选择工种</option>
                                        <option th:each="type : ${workerType}" th:text="${type.name}" th:value="${type.id}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label>代表作</label>
                                    <input name="represent" type="text"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label>描述</label>
                                    <input name="des" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label>宣言</label>
                                    <input name="declaration" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block"
                                onclick="test()">保存
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /Edit Details Modal -->

    <!-- Delete Modal -->
    <div class="modal fade" id="delete_modal" aria-hidden="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <!--	<div class="modal-header">
                        <h5 class="modal-title">Delete</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>-->
                <div class="modal-body">
                    <div class="form-content p-2">
                        <h4 class="modal-title">删除</h4>
                        <p class="mb-4">确定要删除ID为<span id="p_id"></span>的工人<span id="p_name"></span>吗?</p>
                        <button id="delButton" type="button" class="btn btn-primary">确认</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Delete Modal -->


</div>
<!-- /Main Wrapper -->

<!-- jQuery -->
<script src="../Path/admin/js/jquery-3.2.1.min.js"></script>

<!-- Bootstrap Core JS -->
<script src="../Path/admin/js/popper.min.js"></script>
<script src="http://cdn.bootstrapmb.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- Slimscroll JS -->
<script src="../Path/admin/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Datatables JS -->
<script src="../Path/admin/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../Path/admin/plugins/datatables/datatables.min.js"></script>

<!-- Custom JS -->
<script src="../Path/admin/js/script.js"></script>

<script>
    var id;
    var name;
    $('#delete_modal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var modal = $(this);
        id = button.data("id");
        name = button.data("name");
        var p_id = document.getElementById("p_id");
        p_id.appendChild(document.createTextNode(id));
        var p_name = document.getElementById("p_name");
        p_name.appendChild(document.createTextNode(name));
    });
    $('#delButton').on('click', function () {
        $(this).button('complete');
        $.ajax({
            url: '/admin/delWorker',
            type: 'post',
            data: {id: id},
            error: function () {
                alert('出现错误！');
            }, success: function (data) {
                if (data.indexOf('error') < 0) {
                    //模态框隐藏
                    $('#delete_modal').modal('hide');
                    alert("删除成功");
                    location.reload();
                } else {
                    alert(data);
                }
            }
        });
    });
    //城市级联
    function changeProvince(now){
        $.ajax({
            url: "/queryCity/"+now.options[now.options.selectedIndex].value,
            type: "post",
            dataType: "json",
            success: function(data){
                /*这个方法里是ajax发送请求成功之后执行的代码*/
                var province = now;
                var city = document.getElementById("city");
                var opt = now.options.selectedIndex;
                var j = 0;
                var length=city.options.length;
                /**
                 * 清空原选择框中选项
                 */
                for(i=0;i<length;i++){
                    city.removeChild(city.options[0]);
                }
                /**
                 * 添加新选项
                 */
                for (i=0;i<data.length;i++) {
                    // console.log(data[i].district_name);
                    city.options[j++] = new Option(data[i].district_name, data[i].id);
                }
            },
            error: function(msg){
                alert("ajax连接异常："+msg);
            }
        });
    };
</script>
</body>
</html>
