<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>jQuery分类条件筛选列表</title>
    <link href="../static/css/select.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/current.js"></script>
</head>
<body>
<div class="cation-content">
    <div style="height:50px"></div> <!-- 可以删除 -->
    <div class="cation-middle">
        <dl class="cation-list">
            <dt style="width: 80px">风格</dt>
            <dd>
                <a href="#" rel="" name="mode" class="all on">全部</a>
                <a href="#" rel="现代" name="mode" class="default">现代</a>
                <a href="#" rel="简约" name="mode" class="default">简约</a>
                <a href="#" rel="中式" name="mode" class="default">中式</a>
                <a href="#" rel="欧式" name="mode" class="default">欧式</a>
                <a href="#" rel="美式" name="mode" class="default">美式</a>
                <a href="#" rel="日式" name="mode" class="default">日式</a>
                <a href="#" rel="田园" name="mode" class="default">田园</a>
                <a href="#" rel="宜家" name="mode" class="default">宜家</a>
                <a href="#" rel="北欧" name="mode" class="default">北欧</a>
                <a href="#" rel="复古" name="mode" class="default">复古</a>
                <a href="#" rel="混搭" name="mode" class="default">混搭</a>
                <a href="#" rel="新古典" name="mode" class="default">新古典</a>
                <a href="#" rel="地中海" name="mode" class="default">地中海</a>
                <a href="#" rel="东南亚" name="mode" class="default">东南亚</a>
                <a href="#" rel="其他" name="mode" class="default">其他</a>
            </dd>
        </dl>
        <dl class="cation-list">
            <dt style="width: 80px">装修类型</dt>
            <dd>
                <a href="#" rel="" name="theme" class="all on">全部</a>
                <a href="#" rel="全包" name="theme" class="default">全包</a>
                <a href="#" rel="半包" name="theme" class="default">半包</a>
                <a href="#" rel="其他" name="theme" class="default">其他</a>
            </dd>
        </dl>
        <dl class="cation-list">
            <dt style="width: 80px">面积</dt>
            <dd>
                <a href="#" rel="" name="price" class="all on">全部</a>
                <a href="#" rel="0 - 70" name="price" class="default">70㎡以下</a>
                <a href="#" rel="70 - 80" name="price" class="default">70㎡ - 80㎡ </a>
                <a href="#" rel="80 - 90" name="price" class="default">80㎡ - 90㎡ </a>
                <a href="#" rel="90 - 110" name="price" class="default">90㎡ - 110㎡ </a>
                <a href="#" rel="110 - 140" name="price" class="default">110㎡ - 140㎡</a>
                <a href="#" rel="140 - " name="price" class="default">140㎡以上</a>
            </dd>
        </dl>
    </div>
</div>


<script type="text/javascript">
    $(function(){
        new SelectTag({
            child : ".default", //所有默认
            over : 'on', //当前选中
            all : ".all" // 默认全部
        });
    })
</script>


</body>

</html>
