<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Doccure - Basic Inputs</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../Path/admin/img/favicon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="http://cdn.bootstrapmb.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="../Path/admin/css/font-awesome.min.css">

    <!-- Feathericon CSS -->
    <link rel="stylesheet" href="../Path/admin/css/feathericon.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="../Path/admin/css/style.css">

    <!--[if lt IE 9]>
    <script src="../Path/admin/js/html5shiv.min.js"></script>
    <script src="../Path/admin/js/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="../../Path/admin/css/jquery.multiselect.css"/>
</head>
<body>

<!-- Main Wrapper -->
<div class="main-wrapper">

    <!-- Header -->
    <div class="header">

        <!-- Logo -->
        <div class="header-left">
            <a href="index.html" class="logo">
                <img src="../Path/admin/img/logo.png" alt="Logo">
            </a>
            <a href="index.html" class="logo logo-small">
                <img src="../Path/admin/img/logo-small.png" alt="Logo" width="30" height="30">
            </a>
        </div>
        <!-- /Logo -->

        <a href="javascript:void(0);" id="toggle_btn">
            <i class="fe fe-text-align-left"></i>
        </a>

        <div class="top-nav-search">
            <form>
                <input type="text" class="form-control" placeholder="Search here">
                <button class="btn" type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>

        <!-- Mobile Menu Toggle -->
        <a class="mobile_btn" id="mobile_btn">
            <i class="fa fa-bars"></i>
        </a>
        <!-- /Mobile Menu Toggle -->

        <!-- Header Right Menu -->
        <ul class="nav user-menu">

            <!-- Notifications -->
            <li class="nav-item dropdown noti-dropdown">
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                    <i class="fe fe-bell"></i> <span class="badge badge-pill">3</span>
                </a>
                <div class="dropdown-menu notifications">
                    <div class="topnav-dropdown-header">
                        <span class="notification-title">Notifications</span>
                        <a href="javascript:void(0)" class="clear-noti"> Clear All </a>
                    </div>
                    <div class="noti-content">
                        <ul class="notification-list">
                            <li class="notification-message">
                                <a href="#">
                                    <div class="media">
												<span class="avatar avatar-sm">
													<img class="avatar-img rounded-circle" alt="User Image"
                                                         src="../Path/admin/img/doctors/doctor-thumb-01.jpg">
												</span>
                                        <div class="media-body">
                                            <p class="noti-details"><span class="noti-title">Dr. Ruby Perrin</span>
                                                Schedule <span class="noti-title">her appointment</span></p>
                                            <p class="noti-time"><span class="notification-time">4 mins ago</span></p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="notification-message">
                                <a href="#">
                                    <div class="media">
												<span class="avatar avatar-sm">
													<img class="avatar-img rounded-circle" alt="User Image"
                                                         src="../Path/admin/img/patients/patient1.jpg">
												</span>
                                        <div class="media-body">
                                            <p class="noti-details"><span class="noti-title">Charlene Reed</span> has
                                                booked her appointment to <span
                                                        class="noti-title">Dr. Ruby Perrin</span></p>
                                            <p class="noti-time"><span class="notification-time">6 mins ago</span></p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="notification-message">
                                <a href="#">
                                    <div class="media">
												<span class="avatar avatar-sm">
													<img class="avatar-img rounded-circle" alt="User Image"
                                                         src="../Path/admin/img/patients/patient2.jpg">
												</span>
                                        <div class="media-body">
                                            <p class="noti-details"><span class="noti-title">Travis Trimble</span> sent
                                                a amount of $210 for his <span class="noti-title">appointment</span></p>
                                            <p class="noti-time"><span class="notification-time">8 mins ago</span></p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="notification-message">
                                <a href="#">
                                    <div class="media">
												<span class="avatar avatar-sm">
													<img class="avatar-img rounded-circle" alt="User Image"
                                                         src="../Path/admin/img/patients/patient3.jpg">
												</span>
                                        <div class="media-body">
                                            <p class="noti-details"><span class="noti-title">Carl Kelly</span> send a
                                                message <span class="noti-title"> to his doctor</span></p>
                                            <p class="noti-time"><span class="notification-time">12 mins ago</span></p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="topnav-dropdown-footer">
                        <a href="#">View all Notifications</a>
                    </div>
                </div>
            </li>
            <!-- /Notifications -->

            <!-- User Menu -->
            <li class="nav-item dropdown has-arrow">
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                    <span class="user-img"><img class="rounded-circle" src="../Path/admin/img/profiles/avatar-01.jpg"
                                                width="31" alt="Ryan Taylor"></span>
                </a>
                <div class="dropdown-menu">
                    <div class="user-header">
                        <div class="avatar avatar-sm">
                            <img src="../Path/admin/img/profiles/avatar-01.jpg" alt="User Image"
                                 class="avatar-img rounded-circle">
                        </div>
                        <div class="user-text">
                            <h6>Ryan Taylor</h6>
                            <p class="text-muted mb-0">Administrator</p>
                        </div>
                    </div>
                    <a class="dropdown-item" href="profile.html">My Profile</a>
                    <a class="dropdown-item" href="settings.html">Settings</a>
                    <a class="dropdown-item" href="login.html">Logout</a>
                </div>
            </li>
            <!-- /User Menu -->

        </ul>
        <!-- /Header Right Menu -->

    </div>
    <!-- /Header -->

    <!-- Sidebar -->
    <div class="sidebar" id="sidebar">
        <div class="sidebar-inner slimscroll">
            <div id="sidebar-menu" class="sidebar-menu">
                <ul>
                    <li class="menu-title">
                        <span>Main</span>
                    </li>
                    <li>
                        <a th:href="@{/designer/index}"><i class="fe fe-home"></i> <span>首页</span></a>
                    </li>
                    <li class="active">
                        <a th:href="@{/designer/account}"><i class="fe fe-layout"></i> <span>个人信息</span></a>
                    </li>
                    <li>
                        <a th:href="@{/designer/appointmentList}"><i class="fe fe-layout"></i> <span>预约列表</span></a>
                    </li>
                    <li>
                        <a href="patient-list.html"><i class="fe fe-user"></i> <span>Patients</span></a>
                    </li>
                    <li>
                        <a href="reviews.html"><i class="fe fe-star-o"></i> <span>Reviews</span></a>
                    </li>
                    <li>
                        <a href="transactions-list.html"><i class="fe fe-activity"></i> <span>Transactions</span></a>
                    </li>
                    <li>
                        <a href="settings.html"><i class="fe fe-vector"></i> <span>Settings</span></a>
                    </li>
                    <li class="submenu">
                        <a href="#"><i class="fe fe-document"></i> <span> Reports</span> <span class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <li><a href="invoice-report.html">Invoice Reports</a></li>
                        </ul>
                    </li>
                    <li class="menu-title">
                        <span>Pages</span>
                    </li>
                    <li>
                        <a href="profile.html"><i class="fe fe-user-plus"></i> <span>Profile</span></a>
                    </li>
                    <li class="submenu">
                        <a href="#"><i class="fe fe-document"></i> <span> Authentication </span> <span class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <li><a href="login.html"> Login </a></li>
                            <li><a href="register.html"> Register </a></li>
                            <li><a href="forgot-password.html"> Forgot Password </a></li>
                            <li><a href="lock-screen.html"> Lock Screen </a></li>
                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="#"><i class="fe fe-warning"></i> <span> Error Pages </span> <span class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <li><a href="error-404.html">404 Error </a></li>
                            <li><a href="error-500.html">500 Error </a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="blank-page.html"><i class="fe fe-file"></i> <span>Blank Page</span></a>
                    </li>
                    <li class="menu-title">
                        <span>UI Interface</span>
                    </li>
                    <li>
                        <a href="components.html"><i class="fe fe-vector"></i> <span>Components</span></a>
                    </li>
                    <li class="submenu">
                        <a href="#"><i class="fe fe-layout"></i> <span> Forms </span> <span class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <li><a href="form-basic-inputs.html">Basic Inputs </a></li>
                            <li><a href="form-input-groups.html">Input Groups </a></li>
                            <li><a href="form-horizontal.html">Horizontal Form </a></li>
                            <li><a href="form-vertical.html"> Vertical Form </a></li>
                            <li><a href="form-mask.html"> Form Mask </a></li>
                            <li><a href="form-validation.html"> Form Validation </a></li>
                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="#"><i class="fe fe-table"></i> <span> Tables </span> <span class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <li><a href="tables-basic.html">Basic Tables </a></li>
                            <li><a href="data-tables.html">Data Table </a></li>
                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="javascript:void(0);"><i class="fe fe-code"></i> <span>Multi Level</span> <span class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <li class="submenu">
                                <a href="javascript:void(0);"> <span>Level 1</span> <span class="menu-arrow"></span></a>
                                <ul style="display: none;">
                                    <li><a href="javascript:void(0);"><span>Level 2</span></a></li>
                                    <li class="submenu">
                                        <a href="javascript:void(0);"> <span> Level 2</span> <span class="menu-arrow"></span></a>
                                        <ul style="display: none;">
                                            <li><a href="javascript:void(0);">Level 3</a></li>
                                            <li><a href="javascript:void(0);">Level 3</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="javascript:void(0);"> <span>Level 2</span></a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0);"> <span>Level 1</span></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Sidebar -->

    <!-- Page Wrapper -->
    <div class="page-wrapper">
        <div class="content container-fluid">

            <!-- Page Header -->
            <div class="page-header">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="page-title">个人信息</h3>
                    </div>
                </div>
            </div>
            <!-- /Page Header -->

            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">个人信息修改</h4>
                        </div>
                        <div class="card-body">
                            <form th:action="@{/designer/modifyAccount}" method="post" enctype="multipart/form-data">
                                <div class="form-group row">
                                    <label class="col-form-label col-md-2">姓名</label>
                                    <div class="col-md-10">
                                        <input name="name" th:value="${designer.name}" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label col-md-2">照片</label>
                                    <div class="col-md-10">
                                        <div class="file" style="width: 100%">
                                            <input id="filePic" name="filePic" type="file" class="form-control">
                                            请选择文件
                                            <div id="image-holder">
                                                <img th:src="${designer.pic}">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label col-md-2">性别</label>
                                    <div class="col-md-10">
                                        <div class="radio">
                                            <label th:if="${designer.gender} eq '男'">
                                                <input type="radio" name="gender" th:value="男" checked>男
                                                <input type="radio" name="gender" th:value="女">女
                                            </label>
                                            <label th:if="${designer.gender} eq '女'">
                                                <input type="radio" name="gender" th:value="男">男
                                                <input type="radio" name="gender" th:value="女" checked>女
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label col-md-2">年龄</label>
                                    <div class="col-md-10">
                                        <input name="age" th:value="${designer.age}" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label col-md-2">工龄</label>
                                    <div class="col-md-10">
                                        <input name="workingAge" th:value="${designer.workingAge}" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label col-md-2">等级</label>
                                    <div class="col-md-10">
                                        <select class="form-control" name="levelValue">
                                            <option th:each="level : ${designerLevel}"
                                                    th:text="${level.name}"
                                                    th:value="${level.id}"
                                                    th:selected="${designer.levelValue} == ${level.id}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label col-md-2 form-label">风格</label>
                                    <div class="col-md-10">
                                        <select class="form-control" id="styleValue"
                                                multiple="multiple" style="width: 100%">
                                            <option name="styleOpt" id="styleOpt"
                                                    th:each="style : ${styleIndex}"
                                                    th:text="${style.name}"
                                                    th:value="${style.id}"
                                                    th:data_id="${style.id}">
                                        </select>
                                        <input type="hidden" id="designerStyle"
                                               name="styleValue">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label col-md-2">代表作</label>
                                    <div class="col-md-10">
                                        <input name="represent" th:value="${designer.represent}" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label col-md-2">联系电话</label>
                                    <div class="col-md-10">
                                        <input name="tel" th:value="${designer.tel}" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label col-md-2">邮箱</label>
                                    <div class="col-md-10">
                                        <input name="email" th:value="${designer.email}" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label col-md-2">地址(所在城市)</label>
                                    <div class="col-sm-5">
                                        <div class="form-group">
                                            <select class="form-control" id="province" name="province" onChange="changeProvince(this)">
                                                <option>请选择省份</option>
                                                <option th:each="province : ${provinces}" th:text="${province.district_name}" th:value="${province.id}" th:selected="${province.id} == ${provinceNow.id}"></option>
                                            </select>
                                        </div>
                                        <input id="location_hidden" th:value="${designer.location}" type="hidden">
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="form-group">
                                            <select class="form-control" id="location" name="location">
                                                <option>请选择城市</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label col-md-2">备注</label>
                                    <div class="col-md-10">
                                        <textarea name="form" rows="5" cols="5" class="form-control"
                                                  th:value="${designer.form}"
                                                  placeholder="备注"></textarea>
                                    </div>
                                </div>
                                <input name="id" th:value="${designer.id}" type="hidden">
                                <input name="userId" th:value="${designer.userId}" type="hidden">
                                <input name="pic" th:value="${designer.pic}" type="hidden">
                                <div class="submit-section proceed-btn text-right">
                                    <button type="submit" class="btn submit-btn" data-toggle="modal"
                                            data-target=".bs-example-modal-lg" onclick="sub()">保存
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- /Main Wrapper -->

</div>
<!-- /Main Wrapper -->

<!-- jQuery -->
<script src="../Path/admin/js/jquery-3.2.1.min.js"></script>

<!-- Bootstrap Core JS -->
<script src="../Path/admin/js/popper.min.js"></script>
<script src="http://cdn.bootstrapmb.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- Slimscroll JS -->
<script src="../Path/admin/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Custom JS -->
<script src="../Path/admin/js/script.js"></script>

<script src="http://cdn.bootcss.com/jqueryui/1.11.0/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../Path/admin/js/jquery.multiselect.js"></script>
<script>
    let styleList = [[${styleList}]];
    $(function () {
        $("#styleValue").multiselect({
            checkAllText: "全选",
            uncheckAllText: "全不选",
            selectedList: 8
        });
        ifSelected();
    });

    //加载默认选项
    function ifSelected() {
        var opt = document.getElementsByName("multiselect_styleValue");
        for (var i = 0; i < opt.length; i++) {
            if (styleList.indexOf(parseInt(opt[i].value)) >= 0) {
                // 模拟点击元素，在加载时选择
                opt[i].click();
            }
        }
    }

    $("#filePic").on('change', function () {
        if (typeof (FileReader) != "undefined") {
            var image_holder = $("#image-holder");
            image_holder.empty();
            var reader = new FileReader();
            reader.onload = function (e) {
                $("<img />", {
                    "src": e.target.result,
                    "class": "thumb-image"
                }).appendTo(image_holder);
            }
            image_holder.show();
            reader.readAsDataURL($(this)[0].files[0]);
        } else {
            alert("你的浏览器不支持FileReader.");
        }
    });

    var cityNowId = document.getElementById("location_hidden").value;
    $(function () {
        var provinceNow = document.getElementById("province");
        changeProvince(provinceNow);
    });
    function changeProvince(now){
        $.ajax({
            url: "/queryCity/"+now.options[now.options.selectedIndex].value,
            type: "post",
            dataType: "json",
            success: function(data){
                /*这个方法里是ajax发送请求成功之后执行的代码*/
                var province = now;
                var city = document.getElementById("location");
                var opt = now.options.selectedIndex;
                var j = 0;
                var length=city.options.length;
                /**
                 * 清空原选择框中选项
                 */
                for(i=0;i<length;i++){
                    city.removeChild(city.options[0]);
                }
                /**
                 * 添加新选项
                 */
                for (i=0;i<data.length;i++) {
                    // console.log(data[i].district_name);
                    city.options[j++] = new Option(data[i].district_name, data[i].id);
                    if (data[i].id == cityNowId){
                        city.options[j-1].selected = true;
                    }
                }
            },
            error: function(msg){
                alert("ajax连接异常："+msg);
            }
        });
    };

    function sub() {
        var styleText = "";
        var style = document.getElementsByName("multiselect_styleValue");
        for (var i = 0; i < style.length; i++) {
            if (style[i].getAttribute("aria-selected") == "true") {
                styleText += style[i].value + ",";
            }
            // console.log(style[i].value);
        }
        styleText = styleText.substring(0, styleText.length - 1);
        var formText = document.getElementById("designerStyle");
        formText.value = styleText;
    }
</script>
</body>
<style>
    .file {
        position: relative;
        display: inline-block;
        background: #ffffff;
        border: 1px solid #d1eeff;
        border-radius: 4px;
        padding: 4px 12px;
        overflow: hidden;
        color: #1E88C7;
        text-decoration: none;
        text-indent: 0;
    }
    .file input {
        position: absolute;
        font-size: 100px;
        right: 0;
        top: 0;
        opacity: 0;
        -ms-filter: 'alpha(opacity=0)';
    }
    .file:hover {
        background: #AADFFD;
        border-color: #78C3F3;
        color: #004974;
        text-decoration: none;
    }
    .ui-widget-content {
        border: 1px solid #ddd;
        background: white;
        color: #333;
    }

    .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
        border: 1px solid #a4ecfc;
        background: white;
        color: #333;
        font-size: 15px;
        height: 40px;
        border-radius: 7px;
        padding: 0.375rem 0.75rem;
    }

    ul {
        list-style-type: none;
    }

    .ui-multiselect {
        border: 1px solid #ddd;
        box-shadow: none;
        color: #333;
        font-size: 15px;
        height: 40px;
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-weight: 400;
        line-height: 1.5;
        background-color: #fff;
        background-clip: padding-box;
        border-radius: 0.25rem;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }
</style>
</html>
