<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>我爱我家装修公司</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../Path/image/newlogo.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="http://cdn.bootstrapmb.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="../Path/admin/css/font-awesome.min.css">

    <!-- Feathericon CSS -->
    <link rel="stylesheet" href="../Path/admin/css/feathericon.min.css">

    <!-- Datatables CSS -->
    <link rel="stylesheet" href="../Path/admin/plugins/datatables/datatables.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="../Path/admin/css/style.css">

    <!--[if lt IE 9]>
    <script src="../Path/admin/js/html5shiv.min.js"></script>
    <script src="../Path/admin/js/respond.min.js"></script>
    <![endif]-->

    <style>
        /* Switch开关样式 */
        input[type='checkbox'].switch {
            outline: none;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            position: relative;
            width: 40px;
            height: 20px;
            background: #ccc;
            border-radius: 10px;
            transition: border-color .3s, background-color .3s;
        }

        input[type='checkbox'].switch::after {
            content: '';
            display: inline-block;
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            background: #fff;
            box-shadow: 0, 0, 2px, #999;
            transition: .4s;
            top: 2px;
            position: absolute;
            left: 2px;
        }

        input[type='checkbox'].switch:checked {
            background: rgb(19, 206, 102);
        }

        /* 当input[type=checkbox]被选中时：伪元素显示下面样式 位置发生变化 */
        input[type='checkbox'].switch:checked::after {
            content: '';
            position: absolute;
            left: 55%;
            top: 2px;
        }
    </style>
</head>
<body>

<!-- Main Wrapper -->
<div class="main-wrapper">

    <!-- Header -->
    <div class="header">

        <!-- Logo -->
        <div class="header-left">
            <a href="index.html" class="logo">
                <img src="../Path/image/newlogo.png" alt="Logo">
            </a>
            <a href="index.html" class="logo logo-small">
                <img src="../Path/image/newlogo.png" alt="Logo" width="30" height="30">
            </a>
        </div>
        <!-- /Logo -->

        <a href="javascript:void(0);" id="toggle_btn">
            <i class="fe fe-text-align-left"></i>
        </a>

        <!-- Mobile Menu Toggle -->
        <a class="mobile_btn" id="mobile_btn">
            <i class="fa fa-bars"></i>
        </a>
        <!-- /Mobile Menu Toggle -->

        <!-- Header Right Menu -->
        <ul class="nav user-menu">

            <!-- User Menu -->
            <li class="nav-item dropdown has-arrow">
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                    <span class="user-img"><img class="rounded-circle" src="../Path/admin/img/profiles/admin.png"
                                                width="31" alt="设计师"></span>
                </a>
                <div class="dropdown-menu">
                    <div class="user-header">
                        <div class="avatar avatar-sm">
                            <img src="../Path/admin/img/profiles/admin.png" alt="User Image"
                                 class="avatar-img rounded-circle">
                        </div>
                        <div class="user-text">
                            <h6 th:text="${#request.getSession().getAttribute('name')}"></h6>
                            <p class="text-muted mb-0">设计师</p>
                        </div>
                    </div>
                    <a class="dropdown-item" th:href="@{/index}">游客界面</a>
                </div>
            </li>
            <!-- /User Menu -->

        </ul>
        <!-- /Header Right Menu -->

    </div>
    <!-- /Header -->

    <!-- Sidebar -->
    <div class="sidebar" id="sidebar">
        <div class="sidebar-inner slimscroll">
            <div id="sidebar-menu" class="sidebar-menu">
                <ul>
                    <li class="menu-title">
                        <span>Main</span>
                    </li>
                    <li>
                        <a th:href="@{/designer/index}"><i class="fe fe-home"></i> <span>首页</span></a>
                    </li>
                    <li>
                        <a th:href="@{/designer/account}"><i class="fe fe-user"></i> <span>个人信息</span></a>
                    </li>
                    <li>
                        <a th:href="@{/designer/appointmentList}"><i class="fe fe-document"></i> <span>预约列表</span></a>
                    </li>
                    <li class="active">
                        <a th:href="@{/designer/bookList}"><i class="fe fe-table"></i> <span>在线预约列表</span></a>
                    </li>
                    <li>
                        <a th:href="@{/designer/caseList}"><i class="fe fe-layout"></i> <span>案例列表</span></a>
                    </li>
                    <li>
                        <a th:href="@{/designer/timing}"><i class="fe fe-calendar"></i> <span>忙碌时间</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Sidebar -->

    <!-- Page Wrapper -->
    <div class="page-wrapper">
        <div class="content container-fluid">

            <!-- Page Header -->
            <div class="page-header">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="page-title">在线预约列表</h3>
                    </div>
                </div>
            </div>
            <!-- /Page Header -->
            <div class="row">
                <div class="col-md-12">

                    <!-- Recent Orders -->
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="datatable table table-hover table-center mb-0">
                                    <thead>
                                    <tr>
                                        <th style="width: 15%">日期</th>
                                        <th style="width: 10%">顾客名称</th>
                                        <th style="width: 15%">联系电话</th>
                                        <th style="width: 15%">邮箱</th>
                                        <th style="width: 10%">设计师</th>
                                        <th style="width: 20%">地址</th>
                                        <th style="width: 15%" id="status_sort">状态</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody id="tbody">
                                    <tr th:each="book : ${books}">
                                        <td th:text="${book.time}"></td>
                                        <td th:text="${book.name}"></td>
                                        <td th:text="${book.tel}"></td>
                                        <td th:text="${book.email}"></td>
                                        <td th:text="${book.designerName}"></td>
                                        <td th:text="${book.cityStr}+${book.location}"></td>
                                        <td>
                                            <input th:if="${book.status} eq 1" th:attr="data-id=${book.id}" checked type="checkbox" class="switch" th:value="${book.status}" onclick="changeStatus(this)">
                                            <input th:if="${book.status} eq 0" th:attr="data-id=${book.id}" type="checkbox" class="switch" th:value="${book.status}" onclick="changeStatus(this)">
                                        </td>
                                        <td class="text-right">
                                            <div class="actions">
                                                <a id="edit_modify" class="btn btn-sm bg-success-light mr-2"
                                                   th:href="@{/designer/book/}+${book.id}">
                                                    <i class="fe fe-pencil"></i> 详情
                                                </a>
                                                <button class="btn btn-sm bg-danger-light" data-toggle="modal"
                                                        th:attr="data-id=${book.id}"
                                                        href="#delete_modal">
                                                    <i class="fe fe-trash"></i> 删除
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /Recent Orders -->

                </div>
            </div>
        </div>
    </div>
    <!-- /Page Wrapper -->
    <!-- Edit Details Modal -->
    <div class="modal fade" id="edit_modal" aria-hidden="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document" >
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">编辑</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <span></span>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row form-row">
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>姓名</label>
                                    <input type="text" class="form-control" value="	#PT002">
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>照片</label>
                                    <input type="file"  class="form-control">
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>等级</label>
                                    <input type="text"  class="form-control" value="$200.00">
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>城市</label>
                                    <input type="text"  class="form-control" value="29th Oct 2019">
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Save Changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /Edit Details Modal -->

    <!-- Delete Modal -->
    <div class="modal fade" id="delete_modal" aria-hidden="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document" >
            <div class="modal-content">
                <!--	<div class="modal-header">
                        <h5 class="modal-title">Delete</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>-->
                <div class="modal-body">
                    <div class="form-content p-2">
                        <h4 class="modal-title">删除</h4>
                        <p class="mb-4">确定要删除ID为<span id="p_id"></span>的预约订单吗?</p>
                        <button id="delButton" type="button" class="btn btn-primary">确认</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Delete Modal -->

</div>
<!-- /Main Wrapper -->

<!-- jQuery -->
<script src="../Path/admin/js/jquery-3.2.1.min.js"></script>

<!-- Bootstrap Core JS -->
<script src="../Path/admin/js/popper.min.js"></script>
<script src="http://cdn.bootstrapmb.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- Slimscroll JS -->
<script src="../Path/admin/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Datatables JS -->
<script src="../Path/admin/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../Path/admin/plugins/datatables/datatables.min.js"></script>

<!-- Custom JS -->
<script  src="../Path/admin/js/script.js"></script>

<script>
    var id;
    var name;

    $('#delete_modal').on('show.bs.modal',function(event){
        var button = $(event.relatedTarget);
        var modal = $(this);
        id = button.data("id");
        name = button.data("name");
        var p_id = document.getElementById("p_id");
        p_id.appendChild(document.createTextNode(id));
    });
    $('#delButton').on('click',function(){
        $(this).button('complete');
        $.ajax({
            url:'/designer/delBook',
            type:'post',
            data: {id:id},
            error:function(){
                alert('出现错误！');
            },success:function(data){
                if (data.indexOf('error') < 0){
                    //模态框隐藏
                    $('#delete_modal').modal('hide');
                    alert("删除成功");
                    location.reload();
                }else{
                    alert(data);
                }
            }
        });
    });
    function changeStatus(obj){
        var id = obj.getAttribute("data-id");
        var status = obj.value;
        if (status == 0){
            var a = confirm("是否确认该订单已完成？");
            if (a == false){
                obj.checked=false;
            }
            else if (a == true){
                $.ajax({
                    url:'/designer/changeBookStatus',
                    type:'post',
                    data: {id:id,status:1},
                    error:function(){
                        alert('出现错误！');
                    },success:function(data){
                        if (data.indexOf('error') < 0){
                            alert("该订单已完成");
                            // location.reload();
                        }else{
                            alert(data);
                        }
                    }
                });
            }
        }
        else if (status == 1){
            var a = confirm("是否确认该订单未完成？");
            if (a == false){
                obj.checked=true;
            }
            else if (a == true){
                $.ajax({
                    url:'/designer/changeBookStatus',
                    type:'post',
                    data: {id:id,status:0},
                    error:function(){
                        alert('出现错误！');
                    },success:function(data){
                        if (data.indexOf('error') < 0){
                            alert("该订单状态已更改");
                            // location.reload();
                        }else{
                            alert(data);
                        }
                    }
                });
            }
        }
    }
</script>
</body>
</html>
