<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>我爱我家装修公司</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../Path/image/newlogo.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="http://cdn.bootstrapmb.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="../Path/admin/css/font-awesome.min.css">

    <!-- Feathericon CSS -->
    <link rel="stylesheet" href="../Path/admin/css/feathericon.min.css">

    <!-- Datatables CSS -->
    <link rel="stylesheet" href="../Path/admin/plugins/datatables/datatables.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="../Path/admin/css/style.css">

    <!-- Select2 CSS -->
    <link rel="stylesheet" href="../Path/admin/css/select2.min.css">

    <!--[if lt IE 9]>
    <script src="../Path/admin/js/html5shiv.min.js"></script>
    <script src="../Path/admin/js/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="../Path/admin/css/jquery.multiselect.css"/>
</head>
<body>

<!-- Main Wrapper -->
<div class="main-wrapper">

    <!-- Header -->
    <div class="header">

        <!-- Logo -->
        <div class="header-left">
            <a href="index.html" class="logo">
                <img src="../Path/image/newlogo.png" alt="Logo">
            </a>
            <a href="index.html" class="logo logo-small">
                <img src="../Path/image/newlogo.png" alt="Logo" width="30" height="30">
            </a>
        </div>
        <!-- /Logo -->

        <a href="javascript:void(0);" id="toggle_btn">
            <i class="fe fe-text-align-left"></i>
        </a>

        <!-- Mobile Menu Toggle -->
        <a class="mobile_btn" id="mobile_btn">
            <i class="fa fa-bars"></i>
        </a>
        <!-- /Mobile Menu Toggle -->

        <!-- Header Right Menu -->
        <ul class="nav user-menu">

            <!-- User Menu -->
            <li class="nav-item dropdown has-arrow">
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                    <span class="user-img"><img class="rounded-circle" src="../Path/admin/img/profiles/admin.png"
                                                width="31" alt="设计师"></span>
                </a>
                <div class="dropdown-menu">
                    <div class="user-header">
                        <div class="avatar avatar-sm">
                            <img src="../Path/admin/img/profiles/admin.png" alt="User Image"
                                 class="avatar-img rounded-circle">
                        </div>
                        <div class="user-text">
                            <h6 th:text="${#request.getSession().getAttribute('name')}"></h6>
                            <p class="text-muted mb-0">设计师</p>
                        </div>
                    </div>
                    <a class="dropdown-item" th:href="@{/index}">游客界面</a>
                </div>
            </li>
            <!-- /User Menu -->

        </ul>
        <!-- /Header Right Menu -->

    </div>
    <!-- /Header -->

    <!-- Sidebar -->
    <div class="sidebar" id="sidebar">
        <div class="sidebar-inner slimscroll">
            <div id="sidebar-menu" class="sidebar-menu">
                <ul>
                    <li class="menu-title">
                        <span>Main</span>
                    </li>
                    <li>
                        <a th:href="@{/designer/index}"><i class="fe fe-home"></i> <span>首页</span></a>
                    </li>
                    <li>
                        <a th:href="@{/designer/account}"><i class="fe fe-user"></i> <span>个人信息</span></a>
                    </li>
                    <li>
                        <a th:href="@{/designer/appointmentList}"><i class="fe fe-document"></i> <span>预约列表</span></a>
                    </li>
                    <li class="active">
                        <a th:href="@{/designer/caseList}"><i class="fe fe-layout"></i> <span>案例列表</span></a>
                    </li>
                    <li>
                        <a th:href="@{/designer/timing}"><i class="fe fe-calendar"></i> <span>忙碌时间</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Sidebar -->

    <!-- Page Wrapper -->
    <div class="page-wrapper">
        <div class="content container-fluid">

            <!-- Page Header -->
            <div class="page-header">
                <div class="row">
                    <div class="col-sm-11">
                        <h3 class="page-title">案例列表</h3>
                    </div>
                    <div class="col-sm-1">
                        <a class="btn btn-sm bg-primary-light mr-2" th:href="@{/designer/addCase}">
                            <i class="fe fe-plus"></i> 添加
                        </a>
                    </div>
                </div>
            </div>
            <!-- /Page Header -->
            <div class="row">
                <div class="col-md-12">

                    <!-- Recent Orders -->
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="datatable table table-hover table-center mb-0">
                                    <thead>
                                    <tr>
                                        <th style="width: 5%">ID</th>
                                        <th style="width: 25%">主图</th>
                                        <th style="width: 40%">标题</th>
                                        <th style="width: 10%">风格</th>
                                        <th style="width: 10%">价格</th>
                                        <th style="width: 10%">时间</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody id="tbody">
                                    <tr th:each="house : ${houses}">
                                        <td th:text="${house.houseId}"></td>
                                        <td>
                                            <h2 class="table-avatar">
                                               <img th:src="${house.mainPic}" alt="house Image" style="height: 100px;width: 180px">
                                            </h2>
                                        </td>
                                        <td th:text="${house.title}"></td>
                                        <td th:text="${house.style}"></td>
                                        <td th:text="${house.price}"></td>
                                        <td th:text="${house.time}"></td>
                                        <td class="text-right">
                                            <div class="actions">
                                                <a th:href="@{/designer/case/}+${house.houseId}"
                                                   class="btn btn-sm bg-success-light mr-2">
                                                    <i class="fe fe-pencil"></i> 编辑
                                                </a>
                                                <button class="btn btn-sm bg-danger-light" data-toggle="modal"
                                                        th:attr="data-id=${house.houseId}"
                                                        href="#delete_modal">
                                                    <i class="fe fe-trash"></i> 删除
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /Recent Orders -->

                </div>
            </div>
        </div>
    </div>
    <!-- /Page Wrapper -->

    <!-- Delete Modal -->
    <div class="modal fade" id="delete_modal" aria-hidden="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <!--	<div class="modal-header">
                        <h5 class="modal-title">Delete</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>-->
                <div class="modal-body">
                    <div class="form-content p-2">
                        <h4 class="modal-title">删除</h4>
                        <p class="mb-4">确定要删除ID为<span id="p_id"></span>的案例<span id="p_name"></span>吗?</p>
                        <button id="delButton" type="button" class="btn btn-primary">确认</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Delete Modal -->

</div>
<!-- /Main Wrapper -->

<!-- jQuery -->
<script src="../Path/admin/js/jquery-3.2.1.min.js"></script>

<!-- Bootstrap Core JS -->
<script src="../Path/admin/js/popper.min.js"></script>
<script src="http://cdn.bootstrapmb.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- Slimscroll JS -->
<script src="../Path/admin/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Datatables JS -->
<script src="../Path/admin/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../Path/admin/plugins/datatables/datatables.min.js"></script>

<!-- Custom JS -->
<script src="../Path/admin/js/script.js"></script>

<!-- Select2 JS -->
<script src="../Path/admin/js/select2.min.js"></script>

<script src="http://cdn.bootcss.com/jqueryui/1.11.0/jquery-ui.min.js"></script>
<script type="text/javascript" src="../Path/admin/js/jquery.multiselect.js"></script>
<script>
    var id;
    var name;
    $('#delete_modal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var modal = $(this);
        id = button.data("id");
        name = button.data("name");
        var p_id = document.getElementById("p_id");
        p_id.appendChild(document.createTextNode(id));
        var p_name = document.getElementById("p_name");
        p_name.appendChild(document.createTextNode(name));
    });
    $('#delButton').on('click', function () {
        $(this).button('complete');
        $.ajax({
            url: '/case/delCase',
            type: 'post',
            data: {id: id},
            error: function () {
                alert('出现错误！');
            }, success: function (data) {
                if (data.indexOf('error') < 0) {
                    //模态框隐藏
                    $('#delete_modal').modal('hide');
                    alert("删除成功");
                    location.reload();
                } else {
                    alert(data);
                }
            }
        });
    });
    $(function () {
        $("#styleValue").multiselect({
            checkAllText: "全选",
            uncheckAllText: "全不选",
            selectedList: 8
        });
        ifSelected();
    });

    function test() {
        var styleText = "";
        var style = document.getElementsByName("multiselect_styleValue");
        for (var i = 0; i < style.length; i++) {
            if (style[i].getAttribute("aria-selected") == "true") {
                styleText += style[i].value + ",";
            }
            // console.log(style[i].value);
        }
        styleText = styleText.substring(0, styleText.length - 1);
        var formText = document.getElementById("designerStyle");
        formText.value = styleText;
    }
</script>
</body>
<style>
    .ui-widget-content {
        border: 1px solid #ddd;
        background: white;
        color: #333;
    }

    .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
        border: 1px solid #a4ecfc;
        background: white;
        color: #333;
        font-size: 15px;
        height: 40px;
        border-radius: 7px;
        padding: 0.375rem 0.75rem;
    }

    ul {
        list-style-type: none;
    }

    .ui-multiselect {
        border: 1px solid #ddd;
        box-shadow: none;
        color: #333;
        font-size: 15px;
        height: 40px;
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-weight: 400;
        line-height: 1.5;
        background-color: #fff;
        background-clip: padding-box;
        border-radius: 0.25rem;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }
</style>
</html>
