<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>我爱我家装修公司</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../Path/image/newlogo.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="http://cdn.bootstrapmb.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="../Path/admin/css/font-awesome.min.css">

    <!-- Feathericon CSS -->
    <link rel="stylesheet" href="../Path/admin/css/feathericon.min.css">

    <link rel="stylesheet" href="../Path/admin/plugins/morris/morris.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="../Path/admin/css/style.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="../Path/admin/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="../Path/admin/plugins/fontawesome/css/all.min.css">

    <!-- Select2 CSS -->
    <link rel="stylesheet" href="../Path/admin/plugins/select2/css/select2.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="../Path/admin/css/timingCss/style.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="../Path/admin/js/html5shiv.min.js"></script>
    <script src="../Path/admin/js/respond.min.js"></script>
    <![endif]-->

</head>
<body>

<!-- Main Wrapper -->
<div class="main-wrapper">

    <!-- Header -->
    <div class="header">

        <!-- Logo -->
        <div class="header-left">
            <a href="index.html" class="logo">
                <img src="../Path/image/newlogo.png" alt="Logo">
            </a>
            <a href="index.html" class="logo logo-small">
                <img src="../Path/image/newlogo.png" alt="Logo" width="30" height="30">
            </a>
        </div>
        <!-- /Logo -->

        <a href="javascript:void(0);" id="toggle_btn">
            <i class="fe fe-text-align-left"></i>
        </a>

        <!-- Mobile Menu Toggle -->
        <a class="mobile_btn" id="mobile_btn">
            <i class="fa fa-bars"></i>
        </a>
        <!-- /Mobile Menu Toggle -->

        <!-- Header Right Menu -->
        <ul class="nav user-menu">

            <!-- User Menu -->
            <li class="nav-item dropdown has-arrow">
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                    <span class="user-img"><img class="rounded-circle" src="../Path/admin/img/profiles/admin.png"
                                                width="31" alt="设计师"></span>
                </a>
                <div class="dropdown-menu">
                    <div class="user-header">
                        <div class="avatar avatar-sm">
                            <img src="../Path/admin/img/profiles/admin.png" alt="User Image"
                                 class="avatar-img rounded-circle">
                        </div>
                        <div class="user-text">
                            <h6 th:text="${#request.getSession().getAttribute('name')}"></h6>
                            <p class="text-muted mb-0">设计师</p>
                        </div>
                    </div>
                    <a class="dropdown-item" th:href="@{/index}">游客界面</a>
                </div>
            </li>
            <!-- /User Menu -->

        </ul>
        <!-- /Header Right Menu -->

    </div>
    <!-- /Header -->

    <!-- Sidebar -->
    <div class="sidebar" id="sidebar">
        <div class="sidebar-inner slimscroll">
            <div id="sidebar-menu" class="sidebar-menu">
                <ul>
                    <li class="menu-title">
                        <span>Main</span>
                    </li>
                    <li>
                        <a th:href="@{/designer/index}"><i class="fe fe-home"></i> <span>首页</span></a>
                    </li>
                    <li>
                        <a th:href="@{/designer/account}"><i class="fe fe-user"></i> <span>个人信息</span></a>
                    </li>
                    <li>
                        <a th:href="@{/designer/appointmentList}"><i class="fe fe-document"></i> <span>预约列表</span></a>
                    </li>
                    <li>
                        <a th:href="@{/designer/caseList}"><i class="fe fe-layout"></i> <span>案例列表</span></a>
                    </li>
                    <li class="active">
                        <a th:href="@{/designer/timing}"><i class="fe fe-calendar"></i> <span>忙碌时间</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Sidebar -->

    <!-- Page Wrapper -->
    <div class="page-wrapper">

        <div class="content container-fluid">

            <!-- Page Header -->
            <div class="page-header">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="page-title">忙碌时间</h3>
                    </div>
                </div>
            </div>
            <!-- /Page Header -->

            <div class="col-lg-12">

                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">忙碌时间</h4>
                                <div class="profile-box">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card schedule-widget mb-0">

                                                <!-- Schedule Header -->
                                                <div class="schedule-header">

                                                    <!-- Schedule Nav -->
                                                    <div class="schedule-nav">
                                                        <ul class="nav nav-tabs nav-justified">
                                                            <li class="nav-item">
                                                                <a class="nav-link active" data-toggle="tab"
                                                                   href="#slot_week">未来一周</a>
                                                            </li>
                                                            <li class="nav-item">
                                                                <a class="nav-link" data-toggle="tab"
                                                                   href="#slot_month">未来一个月</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <!-- /Schedule Nav -->

                                                </div>
                                                <!-- /Schedule Header -->

                                                <!-- Schedule Content -->
                                                <div class="tab-content schedule-cont">

                                                    <!-- week Slot -->
                                                    <div id="slot_week" class="tab-pane fade show active">
                                                        <h4 class="card-title d-flex justify-content-between">
                                                            <span>现有数据</span>
                                                            <a class="edit-link" data-toggle="modal"
                                                               href="#add_time_slot_week">
                                                                <i class="fa fa-plus-circle"></i>
                                                                添加
                                                            </a>
                                                        </h4>

                                                        <!-- Slot List -->
                                                        <div class="doc-times">
                                                            <div class="doc-slot-list"
                                                                 th:each="schedule : ${scheduleListWeek}">
                                                                <span th:text="${schedule.date}"></span>
                                                                <a th:href="@{/designer/delSchedule/}+${schedule.id}" class="delete_schedule">
                                                                    <i class="fa fa-times"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <p class="text-muted mb-0"
                                                           th:if="${scheduleListWeek.size()} eq 0">暂无数据</p>
                                                        <!-- /Slot List -->
                                                    </div>
                                                    <!-- week Slot -->

                                                    <!-- month Slot -->
                                                    <div id="slot_month" class="tab-pane fade">
                                                        <h4 class="card-title d-flex justify-content-between">
                                                            <span>现有数据</span>
                                                            <a class="edit-link" data-toggle="modal"
                                                               href="#add_time_slot_month"><i class="fa fa-plus-circle"></i>
                                                               添加
                                                            </a>
                                                        </h4>

                                                        <!-- Slot List -->
                                                        <div class="doc-times">
                                                            <div class="doc-slot-list"
                                                                 th:each="schedule : ${scheduleListMoth}">
                                                                <span th:text="${schedule.date}"></span>
                                                                <a href="javascript:void(0)" class="delete_schedule">
                                                                    <i class="fa fa-times"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <p class="text-muted mb-0"
                                                           th:if="${scheduleListMoth.size()} eq 0">暂无数据</p>
                                                        <!-- /Slot List -->
                                                    </div>
                                                    <!-- month Slot -->
                                                </div>

                                            </div>
                                            <!-- /Schedule Content -->

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<!-- /Page Wrapper -->

<!-- Delete Modal -->
<div class="modal fade" id="delete_modal" aria-hidden="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <!--	<div class="modal-header">
                    <h5 class="modal-title">Delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>-->
            <div class="modal-body">
                <div class="form-content p-2">
                    <h4 class="modal-title">删除</h4>
                    <p class="mb-4">确定要删除ID为<span id="p_id"></span>的预约订单吗?</p>
                    <button id="delButton" type="button" class="btn btn-primary">确认</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Modal -->
</div>
<!-- /Main Wrapper -->

<!-- Add Time Slot Modal Week -->
<div class="modal fade custom-modal" id="add_time_slot_week">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">添加忙碌时间</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:action="@{/designer/addSchedule}" method="post" onsubmit="return check('week')">
                    <input name="designerId" th:value="${designer.id}" type="hidden">
                    <div class="hours-info">
                        <div class="row form-row hours-cont">
                            <div class="col-12 col-md-10">
                                <div class="row form-row">
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <label>开始时间</label>
                                            <select class="form-control" name="startDate" id="week_startDate">
                                                <option th:each="day : ${weekDate}" th:value="${day}"
                                                        th:text="${day}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <label>结束时间</label>
                                            <select class="form-control" name="endDate" id="week_endDate">
                                                <option th:each="day : ${weekDate}" th:value="${day}"
                                                        th:text="${day}"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="submit-section text-center">
                        <button type="submit" class="btn btn-primary submit-btn">保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Add Time Slot Modal Week -->

<!-- Add Time Slot Modal Month -->
<div class="modal fade custom-modal" id="add_time_slot_month">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">添加忙碌时间</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:action="@{/designer/addSchedule}" method="post" onsubmit="return check('month')">
                    <input name="designerId" th:value="${designer.id}" type="hidden">
                    <div class="hours-info">
                        <div class="row form-row hours-cont">
                            <div class="col-12 col-md-10">
                                <div class="row form-row">
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <label>开始时间</label>
                                            <select class="form-control" name="startDate" id="month_startDate">
                                                <option th:each="day : ${monthDate}" th:value="${day}"
                                                        th:text="${day}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <label>结束时间</label>
                                            <select class="form-control" name="endDate" id="month_endDate">
                                                <option th:each="day : ${monthDate}" th:value="${day}"
                                                        th:text="${day}"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="submit-section text-center">
                        <button type="submit" class="btn btn-primary submit-btn">保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Add Time Slot Modal Month -->

<!-- Edit Time Slot Modal -->
<div class="modal fade custom-modal" id="edit_time_slot_week">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Time Slots</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="hours-info">
                        <div class="row form-row hours-cont">
                            <div class="col-12 col-md-10">
                                <div class="row form-row">
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <label>Start Time</label>
                                            <select class="form-control">
                                                <option>-</option>
                                                <option th:each="day : ${weekDate}" th:value="${day}"
                                                        th:text="${day}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <label>End Time</label>
                                            <select class="form-control">
                                                <option>-</option>
                                                <option th:each="day : ${weekDate}" th:value="${day}"
                                                        th:text="${day}"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row form-row hours-cont">
                            <div class="col-12 col-md-10">
                                <div class="row form-row">
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <label>Start Time</label>
                                            <select class="form-control">
                                                <option>-</option>
                                                <option>12.00 am</option>
                                                <option selected>12.30 am</option>
                                                <option>1.00 am</option>
                                                <option>1.30 am</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <label>End Time</label>
                                            <select class="form-control">
                                                <option>-</option>
                                                <option>12.00 am</option>
                                                <option>12.30 am</option>
                                                <option selected>1.00 am</option>
                                                <option>1.30 am</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-2"><label class="d-md-block d-sm-none d-none">&nbsp;</label><a
                                    href="#" class="btn btn-danger trash"><i class="far fa-trash-alt"></i></a></div>
                        </div>

                        <div class="row form-row hours-cont">
                            <div class="col-12 col-md-10">
                                <div class="row form-row">
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <label>Start Time</label>
                                            <select class="form-control">
                                                <option>-</option>
                                                <option>12.00 am</option>
                                                <option>12.30 am</option>
                                                <option selected>1.00 am</option>
                                                <option>1.30 am</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <label>End Time</label>
                                            <select class="form-control">
                                                <option>-</option>
                                                <option>12.00 am</option>
                                                <option>12.30 am</option>
                                                <option>1.00 am</option>
                                                <option selected>1.30 am</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-2"><label class="d-md-block d-sm-none d-none">&nbsp;</label><a
                                    href="#" class="btn btn-danger trash"><i class="far fa-trash-alt"></i></a></div>
                        </div>

                    </div>

                    <div class="add-more mb-3">
                        <a href="javascript:void(0);" class="add-hours"><i class="fa fa-plus-circle"></i> Add More</a>
                    </div>
                    <div class="submit-section text-center">
                        <button type="submit" class="btn btn-primary submit-btn">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Edit Time Slot Modal -->

<!-- jQuery -->
<script src="../Path/admin/js/jquery.min.js"></script>

<!-- Bootstrap Core JS -->
<script src="../Path/admin/js/popper.min.js"></script>
<script src="http://cdn.bootstrapmb.com/bootstrap/4.4.0/js/bootstrap.min.js"></script>

<!-- Sticky Sidebar JS -->
<script src="../Path/admin/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
<script src="../Path/admin/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>

<!-- Select2 JS -->
<script src="../Path/admin/plugins/select2/js/select2.min.js"></script>

<!-- Custom JS -->
<script src="../Path/admin/js/script.js"></script>

<script>
    function check(day){
        switch (day){
            case 'week':
                var start = document.getElementById("week_startDate");
                var startIndex = start.selectedIndex ;
                var startDate = start.options[startIndex].value;
                var end = document.getElementById("week_endDate");
                var endIndex = end.selectedIndex ;
                var endDate = end.options[endIndex].value;
                if (startDate > endDate){
                    alert("开始时间不得晚于结束时间");
                    return false;
                }
                return true;
                break;
            case 'month':
                var start = document.getElementById("month_startDate");
                var startIndex = start.selectedIndex ;
                var startDate = start.options[startIndex].value;
                var end = document.getElementById("month_endDate");
                var endIndex = end.selectedIndex ;
                var endDate = end.options[endIndex].value;
                if (startDate > endDate){
                    alert("开始时间不得晚于结束时间");
                    return false;
                }
                return true;
                break;
        }
    }
</script>

</body>
</html>
