<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.house.dao.AppointmentMapper">

    <insert id="insertAppointment" parameterType="Appointment">
        insert into appointment (designerId,customerId,date,day,time,customerTel,customerName,customerEmail,message,location,status)
        values (#{designerId},#{customerId},#{date},#{day},#{time},#{customerTel},#{customerName},#{customerEmail},#{message},#{location},#{status})
    </insert>

    <select id="selectAppointmentNum" resultType="int">
        select count(*) from appointment
    </select>

    <delete id="deleteAppointment" parameterType="Appointment">
        DELETE FROM appointment
        WHERE appointmentId=#{id}
    </delete>

    <select id="selectAppointmentAll" resultType="Appointment">
        select a.*,d.name designerName from appointment a, designer d
        where a.designerId = d.id
        order by a.day desc
    </select>

    <select id="selectAppointmentById" resultType="Appointment">
        select * from appointment
        where appointmentId = #{id}
    </select>

    <select id="selectAppointmentByDesigner" resultType="Appointment">
        select * from appointment
        where designerId = #{designerId}
        order by day desc
    </select>

    <select id="selectAppointmentByCustomer" resultType="Appointment">
        select * from appointment
        where customerId = #{customerId}
        order by day desc
    </select>

    <update id="updateAppointmentStatus" parameterType="Appointment">
        UPDATE appointment SET status=#{status}
        WHERE appointmentId=#{id}
    </update>

    <update id="updateAppointmentStatusEveryday" parameterType="Appointment">
        UPDATE appointment SET STATUS = 1 WHERE
        0 > DATEDIFF(day , SYSDATE())
    </update>

    <select id="selectAppointmentByDesignerId" resultType="Appointment">
        select * from appointment where designerId = #{id}
            and status = 0
    </select>

    <select id="selectAppointmentAllByDesignerId" resultType="Appointment">
        select * from appointment where designerId = #{id}
        ORDER BY STATUS ASC
    </select>

</mapper>
