<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.house.dao.CityMapper">

    <select id="selectSetAll" resultType="City">
        select * from district
    </select>

    <select id="selectProvince" resultType="City">
        select * from district
        where type = 1
    </select>

    <select id="selectCityByPid" resultType="City">
        select * from district
        where pid = #{id}
    </select>

    <select id="selectCityById" resultType="City">
        select * from district
        where id = #{id}
    </select>

    <select id="selectCityNameById" resultType="String">
        select district_name from district
        where id = #{id}
    </select>


</mapper>
