<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.house.dao.DesignerMapper">

    <insert id="insertDesigner" parameterType="Designer">
        insert into designer (name,gender,workingAge,levleValue,style,styleValue,represent,tel,age,pic,form)
        values (#{name},#{gender},#{workingAge},#{levelValue},#{style},#{styleValue},#{represent},#{tel},#{age},#{pic},#{form})
    </insert>

    <select id="selectDesignerById" resultType="Designer">
        select * from designer where id = #{id}
    </select>

    <select id="selectDesignerAll" resultType="Designer">
        select * from designer
    </select>

    <select id="selectDesignerBySL" resultType="Designer">
        select designer.*,designerlevel.name level from designer, designerlevel
        where 1=1
            and (styleValue like CONCAT(CONCAT('%',#{style},'%')) or #{style}='')
            and (levelValue=#{level} or #{level}='')
            and designer.levelValue = designerlevel.id
    </select>

    <select id="selectTopNDesigner" resultType="Designer">
        select * from designer limit #{n}
    </select>

    <select id="findDesignerByName" resultType="Designer">
        select * from designer
        where (name like CONCAT(CONCAT('%',#{name},'%')) or #{name}='')
    </select>

    <update id="modifyDesignerAll" parameterType="Designer">
        UPDATE designer SET name=#{name},gender=#{gender},workingAge=#{workingAge},level=#{level},style=#{style},represent=#{represent},tel=#{tel},email=#{email},age=#{age},form=#{form}
        WHERE id=#{id}
    </update>

    <update id="modifyDesignerMain" parameterType="Designer">
        UPDATE designer SET name=#{name},tel=#{tel},email=#{email},location=#{location},pic=#{pic}
        WHERE id=#{id}
    </update>

    <update id="modifyDesigner" parameterType="Designer">
        UPDATE designer SET gender=#{gender},workingAge=#{workingAge},level=#{level},style=#{style},represent=#{represent},form=#{form}
        WHERE id=#{id}
    </update>

    <delete id="deleteDesigner" parameterType="Designer">
        DELETE FROM designer
        WHERE id=#{id}
    </delete>

    <select id="selectDesignerLevel" resultType="Index">
        SELECT * from designerlevel
    </select>

    <select id="selectDesignerStyle" resultType="Index">
        SELECT * from styleindex
    </select>

    <select id="selectDesignerNum" resultType="int">
        SELECT count(*) from designer
    </select>
</mapper>
