<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.house.dao.DesignerMapper">

    <insert id="insertDesigner" parameterType="Designer">
        insert into designer (userId,name,gender,workingAge,levelValue,styleValue,represent,tel,email,age,pic,form,location)
        values (#{userId},#{name},#{gender},#{workingAge},#{levelValue},#{styleValue},#{represent},#{tel},#{email},#{age},#{pic},#{form},#{location})
    </insert>

    <select id="selectDesignerById" resultType="Designer">
        SELECT designer.*, level.name LEVEL,GROUP_CONCAT(style.name SEPARATOR '、') style FROM designer,designerlevel LEVEL,styleindex style
        WHERE designer.levelValue = level.id
          AND FIND_IN_SET(style.id,designer.styleValue)
          AND designer.id = #{id}
    </select>

    <select id="selectDesignerAll" resultType="Designer">
        SELECT designer.*, level.name LEVEL,GROUP_CONCAT(style.name SEPARATOR ',') style FROM designer,designerlevel level,styleindex style
        WHERE designer.levelValue = level.id
          AND FIND_IN_SET(style.id,designer.styleValue)
        GROUP BY designer.id
    </select>

    <select id="selectDesignerBySL" resultType="Designer">
        select designer.*,level.name LEVEL,GROUP_CONCAT(style.name SEPARATOR '、') style from designer, designerlevel level,styleindex style
        where 1=1
            and (styleValue like CONCAT(CONCAT('%',#{style},'%')) or #{style}='')
            and (levelValue=#{level} or #{level}='')
            and designer.levelValue = level.id
            and FIND_IN_SET(style.id,designer.styleValue)
        GROUP BY designer.id
    </select>

    <select id="selectTopNDesigner" resultType="Designer">
        select * from designer limit #{n}
    </select>

    <select id="findDesignerByName" resultType="Designer">
        select * from designer
        where (name like CONCAT(CONCAT('%',#{name},'%')) or #{name}='')
    </select>

    <update id="modifyDesignerAll" parameterType="Designer">
        UPDATE designer SET name=#{name},gender=#{gender},workingAge=#{workingAge},level=#{level},style=#{style},represent=#{represent},tel=#{tel},email=#{email},age=#{age},form=#{form}
        WHERE id=#{id}
    </update>

    <update id="modifyDesignerMain" parameterType="Designer">
        UPDATE designer SET name=#{name},tel=#{tel},email=#{email},location=#{location},pic=#{pic}
        WHERE id=#{id}
    </update>

    <update id="modifyDesigner" parameterType="Designer">
        UPDATE designer SET userId=#{userId},workingAge=#{workingAge},levelValue=#{levelValue},styleValue=#{styleValue},represent=#{represent},form=#{form}
        WHERE id=#{id}
    </update>

    <delete id="deleteDesigner" parameterType="Designer">
        DELETE FROM designer
        WHERE id=#{id}
    </delete>

    <select id="selectDesignerLevel" resultType="Index">
        SELECT * from designerlevel
    </select>

    <select id="selectDesignerStyle" resultType="Index">
        SELECT * from styleindex
    </select>

    <select id="selectDesignerNum" resultType="int">
        SELECT count(*) from designer
    </select>
</mapper>
