<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.house.dao.HouseMapper">

    <insert id="insertHouse" parameterType="House">
        <selectKey keyProperty="houseId" resultType="int" order="AFTER">
            select LAST_INSERT_ID()
        </selectKey>
        insert into house (styleValue,houseType,areaValue,formValue,city,time,original,plane,price,designerId,workerIds,typeValue,title,des,mainPic)
        values (#{styleValue},#{houseType},#{areaValue},#{formValue},#{city},#{time},#{original},#{plane},#{price},#{designerId},#{workerIds},#{typeValue},#{title},#{des},#{mainPic})
    </insert>

    <select id="selectHouseById" resultType="House">
        SELECT house.*,housearea.name area,houseform.name form,housetype.name type,styleindex.name style,designer.name designer
        FROM house ,houseform ,housetype, styleindex, designer, housearea
        WHERE house.houseId = #{id}
          AND house.areaValue = housearea.id
          AND house.formValue = houseform.id
          AND house.typeValue = housetype.id
          AND house.styleValue = styleindex.id
          AND house.designerId = designer.id
    </select>

    <select id="selectHouseByPageAndSTFA" resultType="House">
        select house.*,designer.name as designer from house, designer
        where 1=1
          and (house.designerId = designer.id)
          and (house.styleValue like CONCAT(CONCAT('%',#{style},'%')) or #{style}='')
          and (typeValue=#{type} or #{type}='')
          and (formValue=#{form} or #{form}='')
          and (areaValue=#{area} or #{area}='')
    </select>

    <select id="selectHouseAll" resultType="House">
        SELECT house.*,housearea.name AREA,houseform.name form,housetype.name,styleindex.name type,designer.name designer
        FROM house, housearea ,houseform ,housetype, styleindex, designer
        WHERE house.areaValue = housearea.id
          AND house.formValue = houseform.id
          AND house.typeValue = housetype.id
          AND house.styleValue = styleindex.id
          AND house.designerId = designer.id
    </select>

    <select id="findHouseByDesignerId" resultType="House">
        SELECT house.*,housearea.name AREA,houseform.name form,housetype.name,styleindex.name type,designer.name designer
        FROM house, housearea ,houseform ,housetype, styleindex, designer
        WHERE house.areaValue = housearea.id
          AND house.formValue = houseform.id
          AND house.typeValue = housetype.id
          AND house.styleValue = styleindex.id
          AND house.designerId = designer.id
          AND designerId = #{designerId}
    </select>

    <update id="modifyHouse" parameterType="House">
        UPDATE house SET name=#{name},gender=#{gender},workingAge=#{workingAge},level=#{level},style=#{style},represent=#{represent},tel=#{tel},age=#{age}
        WHERE houseId=#{houseId}
    </update>

    <delete id="deleteHouse" parameterType="House">
        DELETE FROM house
        WHERE houseId=#{houseId}
    </delete>

    <select id="selectHouseStyle" resultType="Index">
        select * from styleindex
    </select>

    <select id="selectHouseType" resultType="Index">
        select * from housetype
    </select>

    <select id="selectHouseForm" resultType="Index">
        select * from houseform
    </select>

    <select id="selectHouseArea" resultType="Index">
        select * from housearea
    </select>

</mapper>
