<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.house.dao.RoomMapper">

    <insert id="insertRoom" parameterType="Room">
        <selectKey keyProperty="roomId" resultType="int" order="AFTER">
            select LAST_INSERT_ID()
        </selectKey>
        insert into room (houseId,roomType,specificType,style,price)
        values (#{houseId},#{roomType},#{specificType},#{style},#{price})
    </insert>

    <select id="selectRoomById" resultType="Room">
        select * from room
            where roomId = #{roomId}
    </select>

    <select id="selectRoomAll" resultType="Room">
        select * from room
    </select>

    <select id="getRoomByHouseId" parameterType="int" resultMap="getRoomPic">
         select * from room left JOIN roompic ON room.roomId=roompic.roomId
             where room.houseId = #{houseId}
    </select>

    <resultMap id="getRoomPic" type="com.example.house.pojo.Room">
        <id property="roomId" column="roomId"/>
        <result property="houseId" column="houseId"/>
        <result property="roomType" column="roomType"/>
        <result property="specificType" column="specificType"/>
        <result property="style" column="style"/>
        <result property="price" column="price"/>
        <!--        <collection property="href" ofType="String">-->
        <!--            <id property="href" column="href"/>-->
        <!--        </collection>-->
        <!-- property表示集合类型属性名称，ofType表示集合中的对象是什么类型 -->
        <collection property="roomPics" ofType="com.example.house.pojo.RoomPic">
            <id property="picId" column="picId"/>
            <result property="roomId" column="roomId"/>
            <result property="href" column="href"/>
            <result property="des" column="des"/>
        </collection>
    </resultMap>

    <select id="selectRoomByType" resultType="Room">
        select * from room
        where type = #{type}
    </select>

    <select id="selectRoomByspecificType" resultType="Room">
        select * from room
        where specificType = #{specificType}
    </select>

    <select id="selectRoomByStyle" resultType="Room">
        select * from room
        where style = #{style}
    </select>

    <update id="modifyRoom" parameterType="Room">
        UPDATE room SET houseId=#{houseId},roomType=#{roomType},specificType=#{specificType},style=#{style},price=#{price}
        WHERE roomId=#{roomId}
    </update>

    <delete id="deleteRoom" parameterType="Room">
        DELETE FROM room
        WHERE roomId=#{roomId}
    </delete>

    <select id="selectPicNumByRoomId" resultType="int">
        SELECT COUNT(*) FROM roompic WHERE roomId = #{id}
    </select>

</mapper>
