<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.house.dao.ScheduleMapper">

    <select id="getScheduleByDesignerId" resultType="Schedule">
        select * from schedule where designerId = #{id}
    </select>

    <insert id="insertSchedule" parameterType="Schedule">
        insert into schedule (designerId,date,day,time)
        values (#{designerId},#{date},#{day},#{time})
    </insert>

    <delete id="deleteSchedule" parameterType="Schedule">
        delete from schedule where id = #{id}
    </delete>
</mapper>
