<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.house.dao.SetMapper">

    <insert id="insertSet" parameterType="Set">
        insert into myset (name,pic,discount,describe,time)
        values (#{name},#{pic},#{discount},#{describe},#{time})
    </insert>

    <select id="selectSetById" resultType="Set">
        select * from myset
            where setId = #{setId}
    </select>

    <select id="selectSetAll" resultType="Set">
        select (@i:=@i+1) rownum,myset.* from myset, (SELECT @i:=0) t2
    </select>

    <update id="modifySet" parameterType="Set">
        UPDATE myset SET name=#{name},pic=#{pic},discount=#{discount},describe=#{describe},time=#{time}
        WHERE setId=#{setId}
    </update>

    <delete id="deleteSet" parameterType="Set">
        DELETE FROM myset
        WHERE setId=#{setId}
    </delete>

</mapper>
