<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.house.dao.SetOrderMapper">

    <insert id="insertOrder" parameterType="SetOrder">
        insert into setorder (setId,customerId,customerName,tel,email,province,city,position,time)
        values (#{setId},#{customerId},#{customerName},#{tel},#{email},#{province},#{city},#{position},NOW())
    </insert>


</mapper>
