<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.house.dao.UserMapper">

    <insert id="insertUser" parameterType="User">
        <selectKey keyProperty="id" resultType="int" order="AFTER">
            select LAST_INSERT_ID()
        </selectKey>
        insert into user (code,name,role,password,email,phone)
        values (#{code},#{name},#{role},#{password},#{email},#{phone})
    </insert>

    <select id="selectUserById" resultType="User">
        select * from user where id = #{id}
    </select>

    <select id="selectUserNum" resultType="int">
        select count(*) from user
    </select>

    <select id="selectUserAll" resultType="User">
        select * from user
    </select>

    <select id="findUserByCodeAndPWD" resultType="User">
        select * from user
        where code = #{code}
          and password = #{password}
    </select>

    <select id="findUserByCode" resultType="User">
        select * from user
        where code = #{code}
    </select>

    <update id="modifyUser" parameterType="User">
        UPDATE user SET name=#{name},email=#{email},phone=#{phone},password=#{password},role=#{role}
        WHERE id=#{id}
    </update>

    <update id="modifyUserMain" parameterType="User">
        UPDATE user SET name=#{name},email=#{email},phone=#{phone}
        WHERE id=#{id}
    </update>

    <update id="modifyPassword" parameterType="User">
        UPDATE user SET password=#{password}
        WHERE id=#{id}
    </update>

    <delete id="deleteUser" parameterType="User">
        DELETE FROM user
        WHERE id=#{id}
    </delete>

    <select id="checkCode" resultType="Integer">
        SELECT COUNT(*) FROM user WHERE code = #{code}
    </select>
</mapper>
