<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.house.dao.WorkerMapper">

    <insert id="insertWorker" parameterType="Worker">
        insert into worker (name,gender,cityId,typeValue,age,workingAge,represent,tel,pic,des,#{declaration})
        values (#{name},#{gender},#{cityId},#{typeValue},#{age},#{workingAge},#{represent},#{tel},#{pic},#{des},#{declaration})
    </insert>

    <select id="selectWorkerById" resultType="Worker">
        SELECT worker.*, type.name TYPE,CONCAT(d2.district_name,d1.district_name) city FROM worker ,workertype TYPE, district d1, district d2
        WHERE worker.id = #{id}
          AND worker.typeValue = type.id
          AND d1.id = worker.cityId
          AND d1.pid = d2.id
    </select>

    <select id="selectWorkerAll" resultType="Worker">
        SELECT worker.*, type.name TYPE, CONCAT(d2.district_name,d1.district_name) city FROM worker ,workertype TYPE, district d1, district d2
        WHERE worker.typeValue = type.id
          AND d1.id = worker.cityId
          AND d1.pid = d2.id
    </select>

    <select id="selectWorkerByType" resultType="Worker">
        select worker.*, type.name type from worker ,workertype type
        where 1=1
            and (typeValue like CONCAT(CONCAT('%',#{type},'%')) or #{type}='')
            and worker.typeValue = type.id
    </select>

    <select id="findWorkerByName" resultType="Worker">
        select worker.*, type.name type from worker ,workertype type
        where (name like CONCAT(CONCAT('%',#{name},'%')) or #{name}='') and worker.typeValue = type.id
    </select>

    <select id="findWorkerByHouse" resultType="Worker">
        SELECT worker.*, CONCAT(d2.district_name,d1.district_name) city FROM worker, house, district d1, district d2
        WHERE houseId=#{houseId}
          AND FIND_IN_SET(worker.id, workerIds)
          AND d1.id = worker.cityId
          AND d1.pid = d2.id
    </select>

    <update id="modifyWorkerAll" parameterType="Worker">
        UPDATE worker SET name=#{name},gender=#{gender},cityId=#{cityId},typeValue=#{typeValue},age=#{age},workingAge=#{workingAge},represent=#{represent},tel=#{tel},pic=#{pic},des=#{des},declaration=#{declaration}
        WHERE id=#{id}
    </update>

    <update id="modifyWorkerMain" parameterType="Worker">
        UPDATE worker SET name=#{name},tel=#{tel},cityId=#{cityId},pic=#{pic}
        WHERE id=#{id}
    </update>

    <update id="modifyWorker" parameterType="Worker">
        UPDATE worker SET typeValue=#{typeValue},workingAge=#{workingAge},des=#{des},represent=#{represent},declaration=#{declaration}
        WHERE id=#{id}
    </update>

    <delete id="deleteWorker" parameterType="Worker">
        DELETE FROM worker
        WHERE id=#{id}
    </delete>

    <select id="selectWorkerType" resultType="Index">
        SELECT * from workertype
    </select>

    <select id="selectWorkerNum" resultType="int">
        SELECT count(*) from worker
    </select>
</mapper>
